<template>
    <div class="container mx-auto">
        <div v-if="loaded">
            <div v-if="this.dorm.length === 0">
                <div class="bg-red-100 border-t-4 border-red-500 text-red-700 p-4" role="alert">
                    <p class="font-bold text-lg">Klaida!</p>
                    <p class="text-base">Toks bendrabutis neegzistuoja!</p>
                </div>
            </div>
            <div v-else>
                <Dorm :dorm="dorm" :photos="photos" :showLightBox="showLightbox"/>
                <div v-if="checkAuth">
                    <pagination
                            class="pb-6"
                            v-if="!searching && total > 6"
                            :meta_data="meta_data"
                            v-on:next="getDormAndRooms">
                    </pagination>
                    <pagination
                            class="pb-6"
                            v-else-if="searching && total > 6"
                            :meta_data="meta_data"
                            v-on:next="searchByFloor">
                    </pagination>

                    <div class="flex flex-wrap mb-4 shadow-lg border-2 border-gray-200 bg-white rounded p-4">
                        <div class="w-full sm:w-full md:w-1/2 lg:w-1/2">
                            <label class="uppercase ml-1 text-gray-700 text-sm font-bold mb-5">
                                Ieškoti pagal aukštą
                            </label>
                            <model-select :options="floors"
                                          v-model="selectedFloor"
                                          @input="searchByFloor()"
                                          placeholder="Bendrabučio aukštas">
                            </model-select>
                            <label class="custom-label mt-5 text-center flex">
                                <div class="bg-white shadow w-6 h-6 p-1 flex justify-center items-center mr-2">
                                    <input v-model="filterBySlots" type="checkbox" class="hidden">
                                    <svg class="hidden w-4 h-4 text-blue-700 pointer-events-none" viewBox="0 0 172 172">
                                        <g fill="none" stroke-width="none" stroke-miterlimit="10" font-family="none"
                                           font-weight="none" font-size="none" text-anchor="none"
                                           style="mix-blend-mode:normal">
                                            <path d="M0 172V0h172v172z"/>
                                            <path d="M145.433 37.933L64.5 118.8658 33.7337 88.0996l-10.134 10.1341L64.5 139.1341l91.067-91.067z"
                                                  fill="currentColor" stroke-width="1"/>
                                        </g>
                                    </svg>
                                </div>
                                <span class="select-none">Filtruoti vietas mažėjimo tvarka</span>
                            </label>
                        </div>
                    </div>
                    <Rooms :rooms="rooms" :images="images"/>
                </div>
            </div>
        </div>
        <Loading v-else/>
    </div>
</template>

<script>
    import {ModelSelect} from 'vue-search-select';
    import Pagination from '../../../partials/Pagination';
    import Loading from "../../../partials/Loading";
    import Rooms from "./Rooms";
    import Dorm from "./Dorm";

    export default {
        name: 'DormInfo',
        data() {
            return {
                dorm: [],
                numberOfRooms: null,
                rooms: [],
                images: [],
                floors: [],
                photos: [],
                allFloors: [],
                selectedFloor: 0,
                showLightbox: false,
                meta_data: {
                    last_page: null,
                    current_page: 1,
                    prev_page_url: null
                },
                searching: false,
                loaded: false,
                filterBySlots: false,
                total: '',
            };
        },

        components: {
            Dorm,
            Rooms,
            Loading,
            ModelSelect, Pagination
        },

        methods: {
            getDefaultImgs() {
                const _this = this;
                this.rooms.forEach(function (item) {
                    _this.images[item.id] = [];
                    try {
                        let jsonPhotos = JSON.parse(item.photos);
                        _this.images[item.id] = jsonPhotos[0].path;
                    } catch (e) {
                        _this.images[item.id] = '/images/rooms/default_room.png';
                    }
                });
            },

            getDormAndRooms(page = 1) {
                const _this = this;
                this.searching = false;

                axios.get(`/api/dorm/${this.id}/gender/${this.$store.state.user.gender}/${this.filterBySlots}`, {
                    params: {
                        page
                    },
                })
                    .then((res) => {
                        this.dorm = res.data.dorm;
                        this.loaded = true;
                        this.photos = JSON.parse(this.dorm[0].photos);
                        this.allFloors = res.data.floors;
                        this.rooms = res.data.rooms.data;
                        this.meta_data.last_page = res.data.rooms.last_page;
                        this.meta_data.current_page = res.data.rooms.current_page;
                        this.meta_data.prev_page_url = res.data.rooms.prev_page_url;
                        this.total = res.data.rooms.total;
                        this.getDefaultImgs();
                        this.floors = [];

                        this.floors.push({value: 0, text: "Visi aukštai"});
                        this.allFloors.forEach(function (floor) {
                            _this.floors.push({value: floor.floor_number, text: `${floor.floor_number} aukštas`});
                        });

                    }).catch(err => console.log(err));
            },

            searchByFloor(page = 1) {
                if (this.selectedFloor === null || this.selectedFloor === 0) {
                    this.getDormAndRooms();
                } else {
                    this.searching = true;
                    axios.get(`api/dorm/${this.id}/floor/${this.selectedFloor}/gender/${this.$store.state.user.gender}/${this.filterBySlots}`, {
                        params: {
                            page
                        },
                    })
                        .then((response) => {
                            this.rooms = response.data.data;
                            this.meta_data.last_page = response.data.last_page;
                            this.meta_data.current_page = response.data.current_page;
                            this.meta_data.prev_page_url = response.data.prev_page_url;
                            this.total = response.data.total;
                            this.getDefaultImgs();
                        }).catch(err => console.log(err));
                }
            },

        },

        created() {
            this.id = this.$route.params.id;
            this.getDormAndRooms();
        },

        computed: {
            checkAuth() {
                if (this.$store.state.auth) {
                    this.selectedFloor ? this.searchByFloor() : this.getDormAndRooms();
                    return true;
                } else {
                    this.selectedFloor ? this.searchByFloor() : this.getDormAndRooms();
                    return true;
                }
            },
        },
    };
</script>

<style>
    .custom-label input:checked + svg {
        display: block !important;
    }
</style>