<template>
    <div class="flex flex-wrap mb-4 shadow-lg border-2 border-gray-200 bg-white rounded p-4">
        <div class="w-full p-8 sm:w-full md:w-1/2 lg:w-1/2 mb-6">
            <div v-if="this.dorm.length > 0">
                <vue-image-lightbox-carousel
                        ref="lightbox"
                        :show="showLightbox"
                        @close="showLightbox = false"
                        :images="photos">
                </vue-image-lightbox-carousel>
                <carousel :center-mode="true" :per-page="1" :autoplay="true" :loop="true">
                    <slide v-for="(photo, index) in photos" v-bind:key="index">
                        <img style="cursor: pointer;" alt="room" @click="openLightbox(index)"
                             class="object-cover h-64 object-center w-full" :src="photo.path"/>
                    </slide>
                </carousel>
            </div>
        </div>
        <div class="w-full p-8 sm:w-full md:w-1/2 lg:w-1/3">
            <div v-if="this.dorm.length > 0">
                <p class="text-xs text-center md:text-left sm:text-center lg:text-left text-gray-600">
                    {{this.dorm[0].university_name}}
                </p>
                <div class="text-gray-900 text-center font-bold md:text-left sm:text-center lg:text-left  text-lg mb-2">
                    {{this.dorm[0].name}}
                </div>
                <br/>
                <p class="text-gray-700 text-center md:text-left sm:text-center lg:text-left text-sm">
                    <b>Adresas:</b> {{this.dorm[0].address}}</p>
                <p class="text-gray-700 text-center md:text-left sm:text-center lg:text-left text-sm">
                    <b>Iš viso kambarių:</b> {{this.dorm[0].room_count}}</p>
                <p class="text-gray-700 text-center md:text-left sm:text-center lg:text-left text-sm"><b>Liko
                    vietų:</b> {{this.dorm[0].slots}}</p>
                <br/>
                <p class="text-gray-700 text-sm"><b>Aprašymas:</b> Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. A ad asperiores assumenda consequatur cupiditate delectus dolorem
                    dolorum
                    error et excepturi expedita hic illo in incidunt inventore laborum modi neque nobis
                    perspiciatis quae, quidem reprehenderit repudiandae saepe sed, sequi similique
                    temporibus
                    totam. Aliquam aperiam dignissimos enim iure provident, quidem tempora tenetur!</p>
            </div>
        </div>
    </div>
</template>

<script>
    import {Carousel, Slide} from 'vue-carousel';
    import VueImageLightboxCarousel from 'vue-image-lightbox-carousel'

    export default {
        name: "Dorm",
        props: ['dorm', 'photos'],
        components: {Carousel, Slide, VueImageLightboxCarousel},

        data() {
            return {
                showLightbox: false,
            }
        },

        methods: {
            openLightbox(index) {
                this.showLightbox = true;
                this.$refs.lightbox.showImage(index)
            },
        }
    }
</script>