<template>
    <div class="flex flex-wrap mx-auto -mx-2">
        <div v-for="room in rooms" v-bind:key="room.id"
             class="sm:w-full md:w-1/2 lg:w-1/3 w-full rounded mb-4 px-2">
            <div>
                <img class="object-cover shadow-md rounded-lg w-full h-56" :src="setImage(room.id)"
                     alt="image">
            </div>
            <div class="relative md:px-4 lg:px-4 px-0 -mt-16">
                <div class="bg-white px-6 py-4 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">
                    <div class="font-bold text-lg mb-2">
                                    <span v-if="room.room_gender === 1">
                                    <i style="color: #b3b3b3;" class="fas fa-mars"></i>
                                </span>
                        <span v-else-if="room.room_gender === 2">
                                    <i style="color: #b3b3b3;" class="fas fa-venus"></i>
                                </span>
                        Kambarys nr. {{room.room_number}}
                    </div>
                    <div v-if="room.slots - room.occupants.length > 0">
                        <p class="text-gray-700 text-sm">
                            <b>Aukštas:</b> {{room.floor}}
                        </p>
                        <p class="text-gray-700 text-sm">
                            <b>Vietos:</b> {{room.slots - room.occupants.length}}
                        </p>
                        <br/>
                        <button @click="checkRoomInfo(room.dorm_id, room.id)"
                                class="bg-transparent hover:bg-blue-700 text-blue-900 font-semibold hover:text-white py-2 px-4 border border-blue-700 hover:border-transparent rounded">
                            Peržiūrėti
                        </button>
                    </div>
                    <div v-else>
                        <p class="text-gray-700 text-sm">
                            <b>Aukštas:</b> {{room.floor}}
                        </p>
                        <p class="text-red-700 text-sm">
                            Vietų nėra!
                        </p>
                        <br/>
                        <button class="bg-transparent opacity-50 cursor-not-allowed hover:bg-blue-700 text-blue-900 font-semibold hover:text-white py-2 px-4 border border-blue-700 hover:border-transparent rounded">
                            Peržiūrėti
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "Rooms",
        props: ['rooms', 'images'],

        methods: {
            setImage(roomId) {
                return this.images[roomId];
            },

            checkRoomInfo(dorm_id, room_id) {
                this.$router.push({path: `/dorm/${dorm_id}/room/${room_id}`});
            },
        }
    }
</script>