<template>
    <div>
        <div class="text-center">
            <div class="lds-dual-ring m-32"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Loading"
    }

</script>
<style scoped>
    .lds-dual-ring {
        display: inline-block;
        width: 64px;
        height: 64px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 100px;
        height: 100px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #303030;
        border-color: #303030 transparent #303030 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>