<template>
    <nav>
        <ul class="pagination mt-6">
            <li class="page-item">
                <a href="#"
                   class="page-link"
                   @click="meta_data.prev_page_url !== null ? next(meta_data.current_page-1) : ''">
                    <span class="font-semibold text-gray-800">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                v-for="page in meta_data.last_page"
                :key="page"
                :class="{ 'active':meta_data.current_page === page }">
                <a href="#"
                   @click.prevent="next(page)"
                   class="page-link">
                    {{ page }}
                </a>
            </li>
            <li class="page-item">
                <a  href="#"
                    class="page-link"
                    @click="meta_data.current_page !== meta_data.last_page ? next(meta_data.current_page+1) : ''">
                    <span class="font-semibold text-gray-800">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</template>
<script>
export default {
	props: ['meta_data'],
	methods: {
		next(page) {
			this.$emit('next', page);
		}
	}
};
</script>
