<template>
    <div class="container mx-auto">
        <br/>
        <div class="flex flex-wrap">
            <div class="sm:w-full md:w-1/2 lg:w-1/2 w-full mx-auto">
                <div class="shadow-md rounded" id="map" ref="map"></div>
            </div>
            <br/>
            <div class="sm:w-full md:w-1/2 lg:w-1/2 w-full mx-auto">
                <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8">
                    <p class="text-2xl font-bold text-left">Bendrabučio registracija</p>
                    <br/>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-light mb-2">
                            Bendrabučio pavadinimas
                        </label>
                        <input v-model="dormName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Bendrabučio pavadinimas">
                        <div v-if="validationErrors.name">
                            <div v-for="error in validationErrors.name">
                                <p class="text-red-400 text-sm mt-2">{{error}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-light mb-2">
                            Mokymo įstaiga
                        </label>
                        <model-select
                                :options="universities"
                                v-model="selectedUniversity"
                                placeholder="Pasirinkite mokymo įstaigą">
                        </model-select>
                        <div v-if="validationErrors.university_id">
                            <div v-for="error in validationErrors.university_id">
                                <p class="text-red-400 text-sm mt-2">{{error}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-light mb-2">
                            Adresas
                        </label>
                        <input @keyup="searchAdress" v-model="keyword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="pvz.: Taikos pr. 16">
                        <div v-if="validationErrors.address">
                            <div v-for="error in validationErrors.address">
                                <p class="text-red-400 text-sm mt-2">{{error}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-teal-100 border-l-4 border-teal-500 text-teal-700 p-4 mb-4" role="alert">
                        <p class="font-bold">Dėmesio!</p>
                        <p>Jeigu žymeklis pasidejo neteisingai, pataisykite tempdami žemėlapyje.</p>
                    </div>
                    <div class="flex items-center justify-between">
                        <button @click="submitDorm" class="bg-teal-700 hover:bg-teal-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                            Užregistruoti bendrabutį
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <br/>
    </div>
</template>

<script>
    import { ModelSelect } from 'vue-search-select';
    import gmapsInit from '../../gmaps';

    export default {
        name: "DormCreate",
        components: {
            ModelSelect, gmapsInit
        },

        data() {
            return {
                universities: [],
                user: {},
                selectedUniversity: '',
                cities: [],
                defaultPhoto: [
                    {
                      path: "/images/dorms/default_dorm.png"
                    }
                ],
                dormName: '',
                coordinates: {
                    lat: 55.703297,
                    lng: 21.144279
                },
                keyword: '',
                markerSetPosition: '',
                validationErrors: []
            }
        },

        methods: {
            fetchUniversities() {
                axios.get('/api/university/list')
                    .then((res => {
                        res.data.forEach((university => {
                            this.universities.push({value: university.id, text: university.name});
                            this.cities.push({id: university.city.id, uni_id: university.id, name: university.city.name});
                        }));
                    }));
            },

            getCurrentUser() {
                axios.get(window.location.origin + "/api/me")
                    .then((res => {
                        this.user = res.data;
                    }))
            },

            submitDorm() {
                axios.post('/api/management/dorm/add-without-img', {
                    'name': this.dormName,
                    "address": this.keyword,
                    "lat": this.markerSetPosition.lat(),
                    "long": this.markerSetPosition.lng(),
                    "manager_id": this.user.id,
                    "university_id": this.selectedUniversity,
                }).then(() => {
                    this.$store.commit('user', this.user);
                    this.$swal({
                        title: "Bendrabutis sukurtas!",
                        type: 'success',
                        showConfirmButton: true,
                        confirmButtonText: 'Grįžti į panele',
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.value) {
                            window.location.href = '/panel'
                        }
                    });
                    this.validationErrors = [];
                }).catch(error => {
                        if (error.response.status === 422) {
                            this.validationErrors = error.response.data.errors;
                        }
                    }
                )
            },

            async createMap() {
                try {
                    const that = this;
                    const google = await gmapsInit();
                    this.geocoder = new google.maps.Geocoder();
                    this.map = new google.maps.Map(
                        this.$refs.map, {
                            zoom: 12,
                            streetViewControl: false,
                            center: this.coordinates
                        }
                    );
                    this.geocoder.geocode({'address': "Klaipėda"}, function (results, status) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            that.map.setCenter(results[0].geometry.location);
                            that.initialPos = results[0].geometry.location;
                            this.marker = new google.maps.Marker({
                                position: results[0].geometry.location,
                                draggable:true,
                                title:'Perstumk mane, kur reikia!'
                            });
                            this.marker.setMap(that.map);
                            that.markerSetPosition = results[0].geometry.location;
                            //console.log(that.markerSetPosition.lat());
                            //console.log(that.markerSetPosition.lng());
                            google.maps.event.addListener(this.marker, 'dragend', function() {
                                that.markerSetPosition = this.position;
                                //console.log(that.markerSetPosition.lat());
                                //console.log(that.markerSetPosition.lng());
                            });
                        } else {
                            alert(status);
                        }
                    });
                } catch (error) {
                    console.error(error);
                }
            },

            searchAdress: _. debounce(function() {
                var that = this;
                this.$nextTick(() => {
                    if (this.keyword.length > 0) {
                        this.geocoder.geocode({'address': this.keyword}, function (results, status) {
                            if (status === google.maps.GeocoderStatus.OK) {
                                that.map.setZoom(18);
                                that.map.setCenter(results[0].geometry.location);
                                this.marker.setPosition(results[0].geometry.location);
                                this.marker.setMap(that.map);
                                that.markerSetPosition = this.marker.position;
                                //console.log(that.markerSetPosition.lat());
                                //console.log(that.markerSetPosition.lng());
                            } else {
                                alert(status);
                            }
                        });
                    }else{
                        this.geocoder.geocode({'address': "Klaipėda"}, function (results, status) {
                            if (status === google.maps.GeocoderStatus.OK) {
                                that.map.setZoom(12);
                                that.map.setCenter(results[0].geometry.location);
                                this.marker.setPosition(results[0].geometry.location);
                                this.marker.setMap(that.map);
                                that.markerSetPosition = this.marker.position;
                                //console.log(that.markerSetPosition.lat());
                                //console.log(that.markerSetPosition.lng())
                            } else {
                                alert(status);
                            }
                        });
                    }
                });
            }, 700),


        },

        created() {
            const google = gmapsInit();
            this.fetchUniversities();
            this.createMap();
            this.getCurrentUser();
        }
    }
</script>

<style scoped>

    @media (max-width: 640px) {
        #map{
            width: 100%;
            height: 500px;
        }
    }

    /* Small (sm) */
    @media (min-width: 640px) {
        #map{
            width: 100%;
            height: 500px;
        }
    }

    /* Medium (md) */
    @media (min-width: 768px) {
        #map{
            width: 100%;
            height: 100%;
        }
    }

    /* Large (lg) */
    @media (min-width: 1024px) {
        #map{
            width: 100%;
            height: 100%;
        }
    }

    /* Extra Large (xl) */
    @media (min-width: 1280px) {
        #map{
            width: 100%;
            height: 100%;
        }
    }


</style>
