<template>
    <div class="w-full" v-if="loaded" :key="$store.state.dorm">
        <modal v-if="showModal" @close="showModal = false">
            <template v-slot:header>
                <h1 class="text-xxl font-semibold">{{modalHeader}}</h1>
            </template>
            <template v-slot:body>
                <div v-html="modalText">
                    <table class="mytable">
                        {{modalText}}
                    </table>
                </div>
            </template>
        </modal>
        <div>
            <div class="w-full h-64" :style="{ 'background-image': 'url(' + dormPhotos[0].path + ')' }" style="background-position: center center; background-size: cover;">
                <h1 style="background:rgba(0,0,0,0.6);" class="p-4 w-full md:w-1/2 lg:w-1/3 text-white font-semibold text-lg">{{dormName}}</h1>
            </div>
            <div class="px-2">
                <div class="mx-auto md:flex -mx-2">
                    <div class="sm:w-full md:w-1/3 lg:1/3 px-2">
                        <div @click="loadModalData(0)" class="bg-white cursor-pointer dorm-info-card shadow-md rounded mt-6 md:flex hover:bg-gray-200">
                            <div class="dorm-info-icon md:py-10 w-full md:w-1/3 text-center">
                                <i class="fas fa-users" style="color: #b3b3b3; font-size: 4rem;"></i>
                            </div>
                            <div class="w-full md:w-2/3 text-center justify-center items-center">
                                <h1 class="text-xxl pt-2 md:pt-6">{{countOccupants}}</h1>
                                <h1 class="text-lg text-gray-700">Nuomininkų</h1>
                            </div>
                        </div>
                    </div>
                    <div class="sm:w-full md:w-1/3 lg:1/3 w-full px-2">
                        <div @click="loadModalData(1)" class="bg-white cursor-pointer dorm-info-card shadow-md rounded mt-6 md:flex hover:bg-gray-200">
                            <div class="dorm-info-icon md:py-10 w-full md:w-1/3 text-center">
                                <i class="fas fa-bed" style="color: #b3b3b3; font-size: 4rem;"></i>
                            </div>
                            <div class="w-full md:w-2/3 text-center justify-center items-center">
                                <h1 class="text-xxl pt-2 md:pt-6">{{countFreeSlots}}</h1>
                                <h1 class="text-lg text-gray-700">Laisvų vietų</h1>
                            </div>
                        </div>
                    </div>
                    <div class="sm:w-full md:w-1/3 lg:1/3 px-2">
                        <div @click="loadModalData(2)" class="bg-white cursor-pointer dorm-info-card shadow-md rounded mt-6 md:flex hover:bg-gray-200">
                            <div class="dorm-info-icon md:py-10 w-full md:w-1/3 text-center">
                                <i class="fas fa-file-contract" style="color: #b3b3b3; font-size: 4rem;"></i>
                            </div>
                            <div class="w-full md:w-2/3 text-center justify-center items-center">
                                <h1 class="text-xxl pt-2 md:pt-6">{{countRoomRequests}}</h1>
                                <h1 class="text-lg text-gray-700">Nuomos prašymų</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h1 class="text-xl font-semibold">Bendrabučio nustatymai</h1>
                <form @submit.prevent="updateDorm()">
                    <div class="mb-4">
                        <label class="acp-label">
                            Pavadinimas
                        </label>
                        <input class="acp-input w-full" type="text" v-model="dormName">
                    </div>
                    <div class="mb-4">
                        <label class="acp-label">
                            Nuotraukos
                        </label>
                        <vue-upload-multiple-image
                            class="mt-4 w-full"
                            @upload-success="uploadImageSuccess"
                            @before-remove="beforeRemove"
                            @edit-image="editImage"
                            :data-images="images"
                            dragText="Vilkite nuotraukas"
                            browseText="arba pasirinkite"
                            primaryText="Pagrindinė"
                            popupText="Ši nuotrauka nustatyta kaip pagrindinė"
                            markIsPrimaryText=""
                            idUpload="myIdUpload"
                            editUpload="myIdEdit"
                            :max-image="maxImage"
                        ></vue-upload-multiple-image>
                    </div>
                    <button class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 border border-red-200 rounded shadow" type="submit">Atnaujinti</button>
                </form>
            </div>
        </div>
    </div>
    <div v-else>
        <Loading/>
    </div>
</template>

<script>
    import Modal from '../../components/Modal';
    import VueUploadMultipleImage from 'vue-upload-multiple-image';
    import Loading from "../../partials/Loading";

    export default {
        name: "Home",

        components: {
            Loading,
            Modal, VueUploadMultipleImage
        },

        data () {
            return {
                dorm: [],
                countOccupants: 0,
                countFreeSlots: 0,
                countRoomRequests: 0,
                showModal: false,
                modalHeader: '',
                modalText: '',
                tableHead: [],
                tableBody: [],
                rooms: [],
                dormName: '',
                images: [],
                maxImage: 13,
                dormPhotos: [],
                loaded: false,
            }
        },

        methods: {
            updateDorm() {
                if(this.images.length === 0) {
                    this.images = [
                        {
                            path: "/images/dorms/default_dorm.png"
                        }
                    ]
                }
                axios.put('/management/dorm/updatemng', {
                    id: this.$store.state.dorm,
                    name: this.dormName,
                    photos: this.images
                })
                .then((res => {
                    alert(res.data.message);
                    this.fetchDorms();
                }))
            },

            fetchDorms() {
                axios('/management/dorm/get/'+this.$store.state.dorm)
                .then((res => {
                        this.dorm = res.data;
                        this.dormName = this.dorm.name;
                        try {
                            this.dormPhotos = JSON.parse(this.dorm.photos)
                            this.images = this.dormPhotos;
                        }
                        catch (e) {
                            this.dormPhotos[0] = {path: 'images/dorms/default_dorm.png'};
                        }
                    })
                );
            },

            fetchOccupants() {
                this.tableHead[0] = 'Nuomininkai';
                this.tableBody[0] = '<table class="mytable w-full">' +
                    '<tr>' +
                    '<th>Nuomininkas</th>' +
                    '<th>El. Paštas</th>' +
                    '<th>Kambario numeris</th>' +
                    '</tr>';

                axios.get('/management/dorm/'+this.$store.state.dorm+'/occupants')
                    .then((res => {
                        this.countOccupants = res.data.length;
                        let url;
                        res.data.forEach(item => {
                            url = '#/room/view/' + item.room_id;
                            this.tableBody[0] += '<tr>' +
                                '<td>'+ item.name + ' ' + item.surname +'</td>' +
                                '<td>'+ item.email +'</td>' +
                                '<td><a href='+ url +' class="font-semibold">'+ item.room_number +'</a></td>' +
                                '</tr>';
                        });
				    })
				);
		    },

            fetchRooms() {
                this.countFreeSlots = 0;
                this.tableHead[1] = 'Kambariai su laisvomis vietomis';
                this.tableBody[1] = '<table class="mytable">' +
                    '<tr>' +
                    '<th>Kambarys</th>' +
                    '<th>Laisvos vietos</th>' +
                    '</tr>';
                axios.get('/management/room/'+this.$store.state.dorm+'/all').then((res => {
                    let url;
                    res.data.forEach((item => {
                        let freeSlots = item.slots - item.occupants.length;
                        url = '#/room/view/' + item.id;
                        if(freeSlots) {
                            this.rooms.push({id: item.id, roomNumber: item.room_number, slots: freeSlots})
                            this.countFreeSlots += item.slots - item.occupants.length;
                            this.tableBody[1] += '<tr>' +
                                '<td><a href="'+url+'" class="font-semibold">' + item.room_number + '</a></td>' +
                                '<td>' + freeSlots + '</td>' +
                                '</tr>';
                        }
                    }));
                    this.tableBody[1] += '</table>';
                }));
            },

            getDormRoomRequests() {
                this.tableHead[2] = 'Prašymai nuomoti kambarį';
                this.tableBody[2] = '<table class="mytable w-full">' +
                    '<tr>' +
                    '<th>Vardas</th>' +
                    '<th>Pavardė</th>' +
                    '<th>Kambario numeris</th>' +
                    '<th>Prašymas pateiktas</th>' +
                    '</tr>';
                axios.get('/management/dorm/'+this.$store.state.dorm+'/r-requests/all') // Number = DORM ID
                .then((res => {
                        this.countRoomRequests = res.data.length;
                        let url;
                        res.data.forEach(item => {
                            let url = '#/room/view/' + item.room.id;
                            this.tableBody[2] += '<tr>' +
                                '<td><a href="#">'+ item.users[0].name +'</a></td>' +
                                '<td>'+ item.users[0].surname +'</td>' +
                                '<td><a href="'+url+'" class="font-semibold">'+ item.room.room_number +'</a></td>' +
                                '<td>'+ item.created_at +'</td>' +
                                '</tr>';
                        })
                        this.loaded = true;
                        this.$store.commit('busy', false);

                    })
                );
            },

            loadModalData(i) {
                this.showModal = true;
                this.modalHeader = this.tableHead[i];
                this.modalText = this.tableBody[i];
            },

            uploadImageSuccess(formData, index, fileList) {
                this.images = fileList;
            },
            beforeRemove (index, done, fileList) {
                if (confirm("Pašalinti nuotrauką?")) {
                    done();
                    this.images = fileList;
                }
            },
            editImage (formData, index, fileList) {
                this.images = fileList;
            },
        },

        created() {

            this.$store.commit('busy', true);

            if(this.$store.state.dorm !== null) {
                this.fetchRooms();
                this.fetchDorms();
                this.fetchOccupants();
                this.getDormRoomRequests();
            }

            this.$store.watch((state) => state.dorm, () => {
                    this.loaded = false;
                    this.$store.commit('busy', true);
                    this.fetchRooms();
                    this.fetchDorms();
                    this.fetchOccupants();
                    this.getDormRoomRequests();
                    this.images = [];
                    return this.$store.state.dorm;
                },
            );
        },
    }
</script>
