<template>
    <div>
        <form @submit.prevent="addRoom()">
            <div class="p-4 lg:flex">
                <div class="w-full lg:w-1/3">
                    <div class="mb-4">
                        <label class="acp-label">
                            Kambario numeris:
                        </label>
                        <input class="acp-input w-full" type="number" v-model="roomNumber" required>
                    </div>
                    <div class="mb-4">
                        <label class="acp-label">
                            Aukštas:
                        </label>
                        <input class="acp-input w-full" type="number" v-model="roomFloor" required>
                    </div>
                    <div class="mb-4">
                        <label class="acp-label">
                            Vietos:
                        </label>
                        <input class="acp-input w-full" type="number" v-model="roomSlots" required>
                    </div>
                    <div class="mb-4">
                        <label class="acp-label">
                            Nuomos kaina (per mėn.):
                        </label>
                        <input class="acp-input w-full" type="number" step="0.01" v-model="roomPrice" required>
                    </div>
                    <div class="mb-4">
                        <label class="acp-label block">
                            Kambario lytis:
                        </label>
                        <div class="relative">
                            <select v-model="roomGender" class="acp-input w-full appearance-none" required>
                                <option :value="1">Vyras</option>
                                <option :value="2">Moteris</option>
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:ml-20 w-full lg:w-1/3 lg:mt-0 mt-5">
                    <!--<label class="acp-label">
                        Ypatumai:
                    </label>
                    <multi-select :options="features"
                                  :selected-options="checkedFeatures"
                                  placeholder="Pasirinkite ypatumus"
                                  @select="onSelect">
                    </multi-select>-->


                    <div class="mb-4">
                        <label class="acp-label">
                            Kambario aprašymas:
                        </label>
                        <textarea v-model="roomDescription" style="resize: none" maxlength="255" rows="5" class="acp-input w-full"/>
                    </div>

                    <label class="acp-label">
                        Kambario nuotraukos:
                    </label>
                    <vue-upload-multiple-image
                        class="mt-4 w-full"
                        @upload-success="uploadImageSuccess"
                        @before-remove="beforeRemove"
                        @edit-image="editImage"
                        :data-images="images"
                        dragText="Vilkite nuotraukas"
                        browseText="arba pasirinkite"
                        primaryText="Pagrindinė"
                        popupText="Ši nuotrauka nustatyta kaip pagrindinė"
                        markIsPrimaryText=""
                        idUpload="myIdUpload"
                        editUpload="myIdEdit"
                        :max-image="maxImage"
                    ></vue-upload-multiple-image>
                </div>
                <!--<div class="lg:ml-20 w-full lg:w-1/3 lg:mt-0 mt-5">
                    <label class="acp-label">
                        Kambario nuotraukos:
                    </label>
                    <vue-upload-multiple-image
                        class="mt-4 w-full"
                        @upload-success="uploadImageSuccess"
                        @before-remove="beforeRemove"
                        @edit-image="editImage"
                        :data-images="images"
                        dragText="Vilkite nuotraukas"
                        browseText="arba pasirinkite"
                        primaryText="Pagrindinė"
                        popupText="Ši nuotrauka nustatyta kaip pagrindinė"
                        markIsPrimaryText=""
                        idUpload="myIdUpload"
                        editUpload="myIdEdit"
                        :max-image="maxImage"
                    ></vue-upload-multiple-image>
                </div>-->
            </div>
            <button class="ml-4 bg-blue-700 hover:bg-blue-900 text-white font-semibold py-2 px-4 rounded shadow" type="submit"><i class="fas fa-plus"></i> Sukurti</button>
        </form>
    </div>
</template>

<script>
import VueUploadMultipleImage from 'vue-upload-multiple-image';
import { MultiSelect } from 'vue-search-select';

export default {
	name: 'RoomCreate',
	components: {
		VueUploadMultipleImage, MultiSelect
	},

	data () {
		return {
			roomNumber: null,
			roomFloor: null,
			roomSlots: null,
			roomPrice: null,
            roomGender: null,
            roomDescription: '',
			roomPhotos: [],
			maxImage: 13,
			images: [],
            features: [],
            checkedFeatures: [],
            lastSelectItem: {}
		};
	},

	methods: {
		addRoom() {
			this.roomPhotos = [];
			this.images.forEach((item => {
				this.roomPhotos.push({path: item.path, name: item.name});
			}));

			axios.post('/management/room/add', {
				room_number: this.roomNumber,
				floor: this.roomFloor,
				slots: this.roomSlots,
				dorm_id: this.$store.state.dorm,
				price: this.roomPrice,
                gender: this.roomGender,
                description: this.roomDescription,
				features: this.checkedFeatures,
				photos: this.roomPhotos
			})
            .then((res => {
                alert(res.data.message);
            }));
		},

        onSelect (items, lastSelectItem) {
            this.checkedFeatures = items;
            this.lastSelectItem = lastSelectItem;
            console.log(this.checkedFeatures)
        },

        fetchFeatures() {
            axios.get('/management/feature/all').then((res => {
                res.data.forEach((item => {
                    this.features.push({value: item.id, text: item.name});
                }));
            }))
        },

		uploadImageSuccess(formData, index, fileList) {
			this.images = fileList;
		},
		beforeRemove (index, done, fileList) {
			var r = confirm('Pašalinti nuotrauką?');
			if (r === true) {
				done();
				this.images = fileList;
			}
		},
		editImage (formData, index, fileList) {
			this.images = fileList;
		},
	},

    created() {
	    this.fetchFeatures();
    }
};
</script>

<style scoped>

</style>
