<template>
    <div class="md:flex" v-if="loaded">
        <div class="w-full md:w-1/2">
            <transition name="fade">
                <img class="img w-full shadow-xl rounded" :src="selectedPhotoPath" :key="selectedPhotoPath">
            </transition>
            <div class="flex flex-wrap -mx-2 mb-8">
                <div v-for="(photo, index) in roomPhotos" class="mx-2 mt-2 cursor-pointer photo-container" :class="{ 'active' : index === selectedPhoto}" @click="showPhoto(index)">
                    <img :src="photo.path" class="relative h-16 w-20 object-cover">
                </div>
            </div>
        </div>
        <div class="md:pl-8">
            <h1 class="font-semibold text-md">{{room.room_number}} kambarys</h1>
            <ul>
                <li>
                    {{room.slots}} vietos
                    <span v-if="room.slots - room.occupants.length" class="font-semibold">iš kurių {{room.slots - room.occupants.length}} laisvos</span>
                    <span v-else class="font-semibold">iš kurių visos užimtos.</span>
                </li>
                <li>Nuomos kaina per mėn. - <span class="font-semibold">{{room.price}}</span> eur.</li>
            </ul>
            <h1 class="font-semibold text-md">Ypatumai</h1>
            <ul>
                <li v-for="feature in roomFeatures">{{feature.name}}</li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Room",

        data() {
            return {
                room: [],
                roomPhotos: [],
                roomFeatures: [],
                selectedPhotoPath: '',
                selectedPhoto: 0,
                loaded: false,
            }
        },

        methods: {
            showPhoto(index) {
                this.selectedPhotoPath = this.roomPhotos[index].path;
                this.selectedPhoto = index;
            },

            fetchRoomData() {
                axios.get('/management/room/get/'+this.$route.params.room_id)
                    .then((res => {
                        this.room = res.data;
                        try {
                            this.roomPhotos = JSON.parse(this.room.photos);
                            this.selectedPhotoPath = this.roomPhotos[0].path;
                        }
                        catch (e) {
                            this.roomPhotos = [];
                            this.selectedPhotoPath = '/images/rooms/default_room.png';
                        }

                        this.room.features.forEach((feature => {
                            this.roomFeatures.push({name: feature.name})
                        }))
                    }))
                    .finally(() => {
                        this.loaded = true;
                    });
            },
        },

        created() {
            this.fetchRoomData();
        }
    }
</script>
<style scoped>
.img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

.selected-photo {

}

.photo-container {
    border: 2px solid transparent;
}

.photo-container:not(.active):hover, .active {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4), 0 4px 6px -2px rgba(0, 0, 0, 0.2);
    border: 2px solid #000;
    transition: .2s;
}

.fade-leave-to, .fade-leave-active {
    display: none;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    transition: .3s;
}
</style>
