<template>
    <div v-if="!loading">
        <div class="absolute w-1/4" style="top: 1rem; right: 1rem;">
            <div v-for="toast in toasts" class="fade rounded bg-indigo-900 text-center py-4 lg:px-4 mb-2">
                <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex"
                     role="alert">
                    <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3"><i
                            class="fas fa-info"></i></span>
                    <span class="font-semibold mr-2 text-left flex-auto">{{toast.text}}</span>
                </div>
            </div>
        </div>
        <transition name="fade">
            <div v-if="show" class="shadow-md flex">
                <div class="w-1/4 p-4">
                    <div class="relative">
                        <img :src="img" class="w-full object-cover">
                        <div class="overlay text-white h-8 text-xl">{{roomData.room_number}}</div>
                    </div>
                </div>
                <div class="w-1/4 p-4">
                    <label class="acp-label">
                        Nuomininkai:
                    </label>
                    <ul v-if="roomData.occupants.length">
                        <li v-for="occupant in roomData.occupants">{{occupant.name}} {{occupant.surname}}</li>
                    </ul>
                    <h1 v-else>Nėra</h1>
                </div>
                <div class="w-1/4 p-4">
                    <label class="acp-label">
                        Ypatumai:
                    </label>
                    <ul v-if="roomData.features.length">
                        <li v-for="feature in roomData.features">{{feature.name}}</li>
                    </ul>
                    <h1 v-else>Nėra</h1>
                </div>
                <div class="w-1/4 p-4">
                    <label class="acp-label">
                        Kita info:
                    </label>
                    <ul>
                        <li>Aukštas: {{roomData.floor}}</li>
                        <li>Iš viso vietų: {{roomData.slots}}</li>
                        <li>Laisvų vietų: {{roomData.slots - roomData.occupants.length}}</li>
                    </ul>
                </div>
            </div>
        </transition>


        <div v-if="roomRequests.length">
            <div class="text-2xl font-bold mt-3 block sm:block md:hidden lg:hidden text-center">Prašymai</div>
            <div class="text-sm text-gray-600 block sm:block md:hidden lg:hidden text-center">
                {{$store.state.dormName}}
            </div>

            <modal v-if="showModal" @close="showModal = false">
                <template v-slot:body>
                    <UserModal roomText="Prašymas pateiktas kambariui nr." :roomNumber="pickedRoom" :user="pickedUser"/>
                </template>
            </modal>

        </div>


        <table class="mytable w-full mt-10" v-if="roomRequests.length">
            <tr>
                <th>Pateikė prašymą</th>
                <th class="hidden sm:hidden md:hidden lg:table-cell">El. Paštas</th>
                <th class="hidden sm:hidden md:table-cell lg:table-cell">Tel. nr.</th>
                <th class="hidden sm:hidden md:table-cell lg:table-cell">Kambarys</th>
                <th>Veiksmai</th>
            </tr>
            <tr v-for="(roomRequest, index) in roomRequests">
                <td>
                    <div v-if="roomRequest.users[0].photo">
                        <img :src="`/images/users/${roomRequest.users[0].photo}`"
                             class="object-cover h-12 shadow-lg rounded-full m-2 hidden sm:hidden md:hidden lg:inline"
                             width="50" height="50"/>
                        <span @click="loadModalData(roomRequest.users[0], roomRequest.room.room_number)"
                              class="text-center text-black hover:text-blue-700 cursor-pointer">{{roomRequest.users[0].name}} {{roomRequest.users[0].surname}}</span>
                        <br/>
                        <span class="inline sm:inline md:hidden lg:hidden text-xs text-gray-600">Kambariui nr. {{roomRequest.room.room_number}}</span>
                    </div>

                    <div class="" v-else>
                        <vue-initials-img
                                class="object-cover h-12 shadow-lg rounded-full hidden m-2 sm:hidden md:hidden lg:inline"
                                size="50"
                                :name="roomRequest.users[0].name + ' ' + roomRequest.users[0].surname"></vue-initials-img>
                        <span @click="loadModalData(roomRequest.users[0], roomRequest.room.room_number)"
                              class="text-center text-black hover:text-blue-700 cursor-pointer">
                            {{roomRequest.users[0].name}} {{roomRequest.users[0].surname}}
                        </span>
                        <br/>
                        <span class="inline sm:inline md:hidden lg:hidden text-xs text-gray-600">Kambariui nr. {{roomRequest.room.room_number}}</span>
                    </div>
                </td>
                <td class="hidden sm:hidden md:hidden lg:table-cell">{{roomRequest.users[0].email}}</td>
                <td class="hidden sm:hidden md:table-cell lg:table-cell">{{roomRequest.users[0].phone}}</td>
                <td class="hidden sm:hidden md:table-cell lg:table-cell">
                    <span class="text-center text-black hover:text-blue-700 cursor-pointer"
                          :class="(show && !loaded) ? 'cursor-wait' : 'cursor-pointer'"
                          @click="showData(roomRequest.room.id)">{{roomRequest.room.room_number}}</span>
                </td>

                <td>
                    <button @click="confirmRequest(roomRequest.user_id, roomRequest.room_id, index)"
                            class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 border border-red-200 rounded shadow">
                        <i class="fas fa-check"></i>
                    </button>
                    <button @click="showAlert(roomRequest)"
                            class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 border border-red-200 rounded shadow"
                            type="submit"><i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </table>
        <div v-else>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded text-center text-base">
                <span class="">{{$store.state.dormName}} prašymų kol kas neturi!
                </span>
            </div>
        </div>
    </div>
    <Loading v-else/>
</template>

<script>
    import UserModal from "../components/UserModal";
    import Modal from "../../components/Modal";
    import Loading from "../../partials/Loading";

    export default {
        name: "RoomRequests",
        components: {Loading, Modal, UserModal},
        data() {
            return {
                roomRequests: [],
                toasts: [],
                roomData: [],
                message: '',
                toastID: 0,
                loaded: false,
                show: false,
                img: '',

                showModal: false,
                pickedUser: {},
                pickedRoom: '',

                loading: false
            }
        },

        methods: {

            showAlert(roomRequest) {
                const _this = this;
                this.$swal({
                    title: 'Prašymo pašalinimas',
                    html: `Prašymas: ${roomRequest.users[0].name} ${roomRequest.users[0].surname} <br/> Kambarys nr. ${roomRequest.room.id} - ${_this.$store.state.dormName}`,
                    type: 'error',
                    showCloseButton: true,
                    confirmButtonText: 'Pašalinti prašyma',
                    buttonsStyling: false,
                    customClass: {
                        confirmButton: 'bg-transparent m-2 hover:bg-red-500 text-red-700' +
                            'font-semibold hover:text-white py-2 px-4 border border-red-500' +
                            'hover:border-transparent rounded',
                    }
                }).then((result) => {
                    if (result.value) {
                        this.deleteRequest(roomRequest.user_id, roomRequest.room_id)
                    }
                });
            },

            loadModalData(user, room) {
                this.showModal = true;
                this.pickedUser = user;
                this.pickedRoom = room;
            },

            addToast(text) {
                const id = this.toastID++;

                this.toasts.push({id: id, text: text});

                setTimeout(() => {
                    this.removeToast(id);
                }, 3000);
            },

            removeToast(id) {
                //console.log(this.toasts);
                this.toasts = this.toasts.filter(m => m.id !== id);
            },

            showData(roomId) {
                this.loaded = false;
                this.show = true;
                axios.get('/management/room/get/' + roomId)
                    .then((res => {
                        this.roomData = res.data;
                        this.img = JSON.parse(this.roomData.photos)[0].path;
                    }))
                    .finally(() => {
                        this.loaded = true;
                    })
            },

            deleteRequest(userId, roomId, index) {
                axios.delete('/management/room-requests/delete/' + userId + '/' + roomId)
                    .then((res => {
                        this.roomRequests.splice(index, 1);
                        this.roomRequests = this.roomRequests.slice(0);

                        if (this.roomData.id === roomId) {
                            this.show = false;
                            this.loaded = false;
                        }
                    }));
            },

            denyRequest(userId, roomId, index) {
                this.addToast('Prašymas pašalintas');
                this.deleteRequest(userId, roomId, index);
            },

            fetchRoomRequests() {
                this.loading = true;
                axios.get('/management/dorm/' + this.$store.state.dorm + '/r-requests/all')
                    .then((res => {
                        this.roomRequests = res.data;
                        this.loading = false;
                        this.$store.commit('busy', false);
                    }));
            },

            confirmRequest(userId, roomId, index) {
                axios.post('/management/r-request/add', {
                    user: userId,
                    room: roomId
                })
                    .then((res => {
                        this.message = res.data.message;

                        if (this.roomData.id === roomId) {
                            this.show = false;
                            this.loaded = false;
                        }

                        if (res.data.added) {
                            this.deleteRequest(userId, roomId, index);
                        }

                        this.addToast(this.message);
                    }));
            },
        },

        created() {

            this.$store.commit('busy', true);

            this.fetchRoomRequests();

            this.$store.watch((state) => state.dorm, (oldValue, newValue) => {
                    this.fetchRoomRequests();
                    this.show = false;
                    this.loaded = false;
                    this.$store.commit('busy', true);
                    return this.$store.state.dorm;
                },
            );
        }
    };
</script>

<style scoped>
    .fade-leave-to, .fade-leave-active {
        display: none;
    }

    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        transition: .3s;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        opacity: 1;
        color: white;
        text-align: center;
    }

</style>
