<template>
    <div v-if="loaded">
        <div v-if="occupiedRooms.length <= 0 && this.loaded">
            Nėra priregistruotų kambarių šiame bendrabutyje.
        </div>
        <modal v-if="showModal" @close="showModal = false; inputFeature = false">
            <template v-slot:header>
                <h1 class="text-xxl font-semibold"><i class="fas fa-key" style="color: #b3b3b3;"></i> {{occupiedRooms[modalRoomKey].room_number}} Kambarys</h1>
            </template>
            <template v-slot:body>
                <div class="p-4 lg:flex">
                    <div class="w-full lg:w-1/4">
                        <div class="mb-4">
                            <label class="acp-label">
                                Kambario numeris:
                            </label>
                            <input class="acp-input w-full" type="number" v-model="modelRoomNumber">
                        </div>
                        <div class="mb-4">
                            <label class="acp-label">
                                Aukštas:
                            </label>
                            <input class="acp-input w-full" type="number" v-model="modelRoomFloor">
                        </div>
                        <div class="mb-4">
                            <label class="acp-label">
                                Vietos:
                            </label>
                            <input class="acp-input w-full" type="number" v-model="modelRoomSlots">
                        </div>
                        <div class="mb-4">
                            <label class="acp-label">
                                Nuomos kaina (per mėn.):
                            </label>
                            <input class="acp-input w-full" type="number" step="0.01" v-model="modelRoomPrice">
                        </div>
                    </div>
                    <div class="lg:ml-20 w-full lg:w-1/3 lg:mt-0 mt-5">
                        <label class="acp-label">
                            Ypatumai:
                        </label>
                        <multi-select :options="features"
                                      :selected-options="checkedFeatures"
                                      placeholder="Pasirinkite ypatumus"
                                      @select="onSelect">
                        </multi-select>
                    </div>
                    <div class="lg:ml-20 w-full lg:w-1/3 lg:mt-0 mt-5">
                        <label class="acp-label">
                            Kambario nuotraukos:
                        </label>
                        <vue-upload-multiple-image
                            class="mt-4 w-full"
                            @upload-success="uploadImageSuccess"
                            @before-remove="beforeRemove"
                            @edit-image="editImage"
                            :data-images="images"
                            dragText="Vilkite nuotraukas"
                            browseText="arba pasirinkite"
                            primaryText="Pagrindinė"
                            popupText="Ši nuotrauka nustatyta kaip pagrindinė"
                            markIsPrimaryText=""
                            idUpload="myIdUpload"
                            editUpload="myIdEdit"
                            :max-image="maxImage"
                        ></vue-upload-multiple-image>
                    </div>
                </div>
                <form class="p-4" @submit.prevent="updateRoom()">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 border border-red-200 rounded shadow" type="submit">Atnaujinti</button>
                </form>
            </template>
        </modal>
        <form class="w-full max-w-sm mb-6" @submit.prevent="">
            <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="number" v-model="roomNumberFilter" placeholder="Kambario numeris">
                <button @click="clearInput" class="focus:outline-none flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button">
                    x
                </button>
            </div>
        </form>
        <div class="flex flex-wrap -mx-2 mb-8 w-full">
            <div v-for="occupiedRoom in paginatedRooms" class="relative room-card w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 mb-4 px-2">
                <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto">
                    <img class="object-cover w-full md:h-48 h-56" :src="roomPhotos[occupiedRoom.id][0].path">
                    <div class="px-6 py-4 min-h-full h-48">
                        <div v-if="!showInfo[occupiedRoom.id]">
                            <div class="font-bold text-xl mb-2"><i class="fas fa-key" style="color: #b3b3b3;"></i> <a :href="'/management/room/view/'+occupiedRoom.id" class="text-blue-700 hover:text-blue-900">{{occupiedRoom.room_number}}</a></div>
                            <div class="font-semibold text-md">
                                Vietų skaičius: {{occupiedRoom.slots}}
                                <br>
                                Laisvos vietos: {{occupiedRoom.slots - occupiedRoom.occupants.length}}
                            </div>
                            <div class="flex pt-4">
                                <h1 @click="editRoom(occupiedRoom.id)" title="Redaguoti kambario informaciją" class="cursor-pointer pr-2 text-blue-500"><i class="fas fa-edit"></i></h1>
                                <form v-on:submit.prevent="deleteRoom(occupiedRoom.id)">
                                    <button class="text-red-500 float-right" type="submit"><i class="fas fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                        <div v-else>
                            <div class="font-bold text-xl mb-2"><i class="fas fa-users" style="color: #b3b3b3;"></i> {{occupiedRoom.occupants.length}} / {{occupiedRoom.slots}}</div>
                            <ul class="list-none p-0 font-semibold">
                                <li v-for="(occupant, index) in occupiedRoom.occupants" class="inline">
                                    <a href="#" class="link font-semibold">{{occupant.name + ' ' + occupant.surname}}</a><span v-if="index+1 < occupiedRoom.occupants.length">, </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex font-semibold">
                        <a @click="setActive(occupiedRoom.id, 0)" class="cursor-pointer block py-2 w-1/2 text-center card-link bg-gray-200" :class="{'active': !showInfo[occupiedRoom.id]}">Kambarys</a>
                        <a @click="setActive(occupiedRoom.id, 1)" class="cursor-pointer py-2 w-1/2 text-center card-link bg-gray-200" :class="{'active': showInfo[occupiedRoom.id]}">Gyventojai</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination" v-if="paginatedRooms.length">
            <div v-for="n in numPages" class="inline">
                <button class="px-4 py-2 mr-2 shadow-md" :class="{ activePage: page+1 === n }" @click="setPage(n)">{{ n }}</button>
            </div>
        </div>
    </div>
    <div v-else>
        <Loading/>
    </div>
</template>

<script>
    import Modal from '../../components/Modal';
    import VueUploadMultipleImage from 'vue-upload-multiple-image';
    import _ from 'lodash';
    import { MultiSelect } from 'vue-search-select';
    import Loading from "../../partials/Loading";

    export default {
        name: "Rooms",

        components: {
            Loading,
            Modal, VueUploadMultipleImage, MultiSelect
        },

        data () {
            return {
                occupiedRooms: [],
                showInfo: [],
                showModal: false,
                modalRoomKey: null,
                modelRoomNumber: null,
                modelRoomFloor: null,
                modelRoomSlots: null,
                modelDormPrice: null,
                modelRoomPhotos: [],
                modelRoomPrice: null,
                roomPhotos: [],
                roomFeatures: [],
                features: [],
                textFeature: '',
                images: [],
                maxImage: 13,
                loaded: false,
                roomNumberFilter: '',
                itemsPerPage: 8,
                page: 0,
                checkedFeatures: [],
                lastSelectItem: {}
            }
        },

        methods: {
            setPage(page) {
                this.page = page-1;
                this.paginatedRooms = this.paginate()
            },
            paginate() {
                return this.filteredRooms.slice(this.page*this.itemsPerPage, this.itemsPerPage * this.page + this.itemsPerPage)
            },

            clearInput() {
                this.roomNumberFilter = '';
            },

            onSelect (items, lastSelectItem) {
                this.checkedFeatures = items;
                this.lastSelectItem = lastSelectItem;
            },

            updateRoom() {
                this.roomFeatures[this.occupiedRooms[this.modalRoomKey].id] = [];
                this.checkedFeatures.forEach((feature => {
                    this.roomFeatures[this.occupiedRooms[this.modalRoomKey].id].push({id: feature.value, name: feature.text});
                }));
                if(this.images.length > 0) {
                    this.roomPhotos[this.occupiedRooms[this.modalRoomKey].id] = this.images;
                } else {
                    this.roomPhotos[this.occupiedRooms[this.modalRoomKey].id] = [{
                        path: "/images/rooms/default_room.png"
                    }];
                }
                axios.put('/management/room/update', {
                    id: this.occupiedRooms[this.modalRoomKey].id,
                    room_number: this.modelRoomNumber,
                    floor: this.modelRoomFloor,
                    slots: this.modelRoomSlots,
                    dorm_id: this.occupiedRooms[this.modalRoomKey].dorm.id,
                    price: this.modelRoomPrice,
                    features: this.checkedFeatures,
                    photos: this.roomPhotos[this.occupiedRooms[this.modalRoomKey].id]
                })
                .then((res) => {
                    if(res.data.success) {
                        this.occupiedRooms[this.modalRoomKey].room_number = this.modelRoomNumber;
                        this.occupiedRooms[this.modalRoomKey].floor = this.modelRoomFloor;
                        this.occupiedRooms[this.modalRoomKey].slots = this.modelRoomSlots;
                        this.occupiedRooms[this.modalRoomKey].price = this.modelRoomPrice;
                    }
                    alert(res.data.message)
                });
            },

            editRoom(roomId) {
                this.checkedFeatures = [];
                let id = this.occupiedRooms.findIndex((item) => item.id === roomId);
                this.modalRoomKey = id;
                this.modelRoomNumber = this.occupiedRooms[this.modalRoomKey].room_number;
                this.modelRoomSlots = this.occupiedRooms[this.modalRoomKey].slots;
                this.modelRoomFloor = this.occupiedRooms[this.modalRoomKey].floor;
                this.modelRoomPrice = this.occupiedRooms[this.modalRoomKey].price;
                this.showModal = true;
                this.images = this.roomPhotos[this.occupiedRooms[this.modalRoomKey].id];

                this.features.forEach((feature => {
                    let ft = this.roomFeatures[roomId].findIndex((item) => item.id === feature.value);

                    if(ft !== -1) {
                        this.checkedFeatures.push({value: feature.value, text: feature.text});
                    }
                }));
            },

            deleteRoom(roomId) {
                if(confirm("Pašalinti kambarį?"))
                {
                    let id = this.occupiedRooms.findIndex((item) => item.id === roomId);

                    axios.delete('/management/room/' + roomId + '/delete')
                    .then((res => {
                        alert(res.data.message);
                        this.occupiedRooms.splice(id, 1);
                        this.occupiedRooms = this.occupiedRooms.slice(0);
                        this.roomNumberFilter = '';
                    }))
                }
            },

            fetchRooms() {
                this.loaded = false;
                axios.get('/management/room/'+this.$store.state.dorm+'/all').then((res => {
                    this.occupiedRooms = res.data;
                    this.occupiedRooms.forEach((item => {
                        this.roomFeatures[item.id] = [];

                        try {
                            this.roomPhotos[item.id] = JSON.parse(item.photos);
                        }
                        catch (e) {
                            this.roomPhotos[item.id] = [{path: '/images/rooms/default_room.png'}];
                        }

                        item.features.forEach((feature => {
                            this.roomFeatures[item.id].push({id: feature.id, name: feature.name});
                        }));
                    }));
                    this.loaded = true;
                    this.$store.commit('busy', false);
                }));
            },

            fetchFeatures() {
                this.features = [];
                axios.get('/management/feature/all').then((res => {
                    res.data.forEach((item => {
                        this.features.push({value: item.id, text: item.name});
                    }));
                }))
            },

            setActive(roomId, to) {
                Vue.set(this.showInfo, roomId, to);
            },

            uploadImageSuccess(formData, index, fileList) {
                this.images = fileList;
            },
            beforeRemove (index, done, fileList) {
                if (confirm("Pašalinti nuotrauką?")) {
                    done();
                    this.images = fileList;
                }
            },
            editImage (formData, index, fileList) {
                this.images = fileList;
            },
        },

        created() {

            this.$store.commit('busy', true);

            this.fetchRooms();
            this.fetchFeatures();

            this.$store.watch((state) => state.dorm, (oldValue, newValue) => {
                    this.$store.commit('busy', true);
                    this.fetchRooms();
                    this.fetchFeatures();
                    this.page = 0;
                    return this.$store.state.dorm;
                },
            );
        },

        computed: {
            numPages() {
                return Math.ceil(this.filteredRooms.length/this.itemsPerPage);
            },

            filteredRooms() {
                const search = this.roomNumberFilter.toLowerCase().trim();
                if (!search) return this.occupiedRooms;

                return this.occupiedRooms.filter(item => {
                    return item.room_number.toString().indexOf(search) > -1
                })
            },

            paginatedRooms() {
                return this.paginate();
            }
        }
    }
</script>

<style>
.activePage {
    background: #999999;
}

.pagination button:focus {
    outline: none;
}

.ui.label > .delete.icon {
    padding: 0 5px;
}
.ui.label > .delete.icon::before {
    content: 'x';
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
</style>
