<template>
    <div v-if="loaded">
        <div v-if="!occupants.length">
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded text-center text-base">
                <span class="">{{$store.state.dormName}} gyventojų neturi!
                    <router-link class="font-semibold" to="/requests">Patikrinkite prašymus.</router-link>
                </span>
            </div>
        </div>
        <div v-else>
            <transition name="fade">
                <modal v-if="showModal" @close="showModal = false">
                    <template v-slot:body>
                        <UserModal :roomText="'Gyvena kambaryje nr.'" :roomNumber="pickedRoom" :user="pickedOccupant"/>
                    </template>
                </modal>
            </transition>
            <div class="text-2xl font-bold mt-3 block sm:block md:hidden lg:hidden text-center">Bendrabučio gyventojai
            </div>
            <div class="text-sm text-gray-600 block sm:block md:hidden lg:hidden text-center">
                {{$store.state.dormName}}
            </div>

            <form class="w-full max-w-sm mt-12 mb-8" @submit.prevent="">
                <div class="flex items-center border-b border-b-2 border-blue-700 py-2">
                    <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                           type="text" v-model="search" placeholder="Nuomininko vardas, pavardė ar el. paštas">
                    <button @click="clearInput"
                            class="focus:outline-none flex-shrink-0 border-transparent border-4 text-blue-700 hover:text-blue-800 text-sm py-1 px-2 rounded"
                            type="button">
                        x
                    </button>
                </div>
            </form>
            <table class="mytable w-full">
                <tr>
                    <th>Gyventojas</th>
                    <th class="hidden sm:hidden md:hidden lg:table-cell">El. Paštas</th>
                    <th class="hidden sm:hidden md:table-cell lg:table-cell">Kambarys</th>
                    <th class="hidden sm:hidden md:table-cell lg:table-cell">Susimokėjo iki</th>
                    <th>Veiksmai</th>
                </tr>
                <tr v-for="(occupant, index) in filteredUsers">
                    <td class="p-0"><a class="">
                        <div v-if="occupant.photo">
                            <img :src="`/images/users/${occupant.photo}`"
                                 class="object-cover h-12 shadow-lg rounded-full m-2 hidden sm:hidden md:hidden lg:inline"
                                 width="50" height="50"/><span @click="loadModalData(occupant, occupant.room_number)"
                                                               class="text-center text-black hover:text-blue-700 cursor-pointer">{{occupant.name}} {{occupant.surname}}</span>
                            <span class="inline sm:inline md:hidden lg:hidden text-xs text-gray-600">Gyvena kambaryje nr. {{occupant.room_number}}</span>
                        </div>
                        <div class="" v-else>
                            <vue-initials-img
                                    class="object-cover h-12 shadow-lg rounded-full hidden m-2 sm:hidden md:hidden lg:inline"
                                    size="50"
                                    :name="occupant.name + ' ' + occupant.surname"></vue-initials-img>
                            <span @click="loadModalData(occupant, occupant.room_number)"
                                  class="text-center text-black hover:text-blue-700 cursor-pointer">{{occupant.name}} {{occupant.surname}}</span>
                            <br/>
                            <span class="inline sm:inline md:hidden lg:hidden text-xs text-gray-600">Gyvena kambaryje nr. {{occupant.room_number}}</span>
                        </div>

                    </a></td>
                    <td class="hidden sm:hidden md:hidden lg:table-cell">{{occupant.email}}</td>
                    <td class="hidden sm:hidden md:table-cell lg:table-cell">
                        <router-link :to="`/room/view/${occupant.room_id}`"
                                     class="text-center text-black hover:text-blue-700 cursor-pointer">
                            {{occupant.room_number}}
                        </router-link>
                    </td>
                    <td class="hidden sm:hidden md:table-cell lg:table-cell">
                        <div v-if="occupant.paid_until">
                            <div v-if="checkIfLate(occupant.paid_until)">
                                <span class="text-red-400">
                                    <div>{{occupant.paid_until}}</div>
                                </span>
                            </div>
                            <div v-else>
                                {{occupant.paid_until}}
                            </div>
                        </div>
                        <div v-else>
                            <p class="text-red-400">Nesusimokėta!</p>
                        </div>
                    </td>
                    <td v-if="!changing[occupant.id]">
                        <button @click.prevent="showAlert(occupant)"
                                class="bg-red-500 py-2 px-4 text-center hover:bg-red-700 border border-red-200 rounded shadow text-white">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button @click="showSelect(occupant.id)"
                                class="bg-blue-700 hover:bg-blue-900 py-2 px-4 text-center border border-red-200 text-white font-semibold rounded shadow">
                            <i class="fas fa-sync-alt"></i>
                        </button>
                    <td v-else>
                        <model-select
                                :options="rooms"
                                v-model="newRoom"
                                placeholder="Pasirinkite kambarį">
                        </model-select>
                        <div>
                            <i class="py-2 px-1 mr-1 cursor-pointer fas fa-check text-green-500 hover:text-green-700"
                               @click="updateRoom(occupant.id)"></i>
                            <i class="py-2 px-1 cursor-pointer fas fa-times text-red-500 hover:text-red-700"
                               @click="hideSelect(occupant.id)"></i>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <Loading v-else/>
</template>

<script>
    import {ModelSelect} from 'vue-search-select';
    import Modal from "../../components/Modal";
    import Loading from "../../partials/Loading";
    import UserModal from "../components/UserModal";

    export default {
        name: "Users",

        components: {
            UserModal,
            Loading,
            Modal,
            ModelSelect
        },

        data() {
            return {
                occupants: [],
                search: '',
                changing: [],
                rooms: [],
                newRoom: '',
                inChange: false,
                showModal: false,
                pickedOccupant: {},
                pickedRoom: '',
                loaded: false,
            }
        },

        methods: {

            loadModalData(user, room) {
                this.showModal = true;
                this.pickedOccupant = user;
                this.pickedRoom = room;
            },

            updateRoom(userId) {
                axios.put('/management/oc-room/update', {
                    user_id: userId,
                    room_id: this.newRoom,
                })
                    .then((res => {
                        alert(res.data.message)
                    }))
                    .finally(() => {
                        this.fetchOccupants();
                        this.fetchRooms();
                        this.inChange = false;
                        this.newRoom = '';
                    })
            },
            hideSelect(id) {
                Vue.set(this.changing, id, false);
                this.newRoom = '';
                this.inChange = false;
            },
            showSelect(id) {
                if (!this.inChange) {
                    Vue.set(this.changing, id, true);
                    this.inChange = true;
                }
            },
            clearInput() {
                this.search = '';
            },

            fetchOccupants() {
                this.loaded = false;
                axios.get('/management/dorm/' + this.$store.state.dorm + '/occupants')
                    .then((res => {
                        this.loaded = true;
                        this.$store.commit('busy', false);
                        this.occupants = res.data;
                        this.occupants.forEach((item => {
                            this.changing[item.id] = false;
                        }));
                    }));
            },

            fetchRooms() {
                axios.get('/management/room/' + this.$store.state.dorm + '/all').then((res => {
                    this.rooms = [];
                    res.data.forEach((item => {
                        if (item.slots - item.occupants.length > 0) {
                            this.rooms.push({value: item.id, text: item.room_number + ' kambarys'});
                        }
                    }));
                }));
            },


            removeOccupant(userId, roomId, index) {
                if (this.inChange) {
                    alert('Negalima ištrinti kol nepasirinkote kambario į kurį norite perkelti');
                } else {
                    let id = this.occupants.findIndex((item) => item.id === userId);

                    axios.delete('/management/oc-room/delete/' + userId + '/' + roomId)
                        .then((res => {
                            this.occupants.splice(id, 1);
                            this.occupants = this.occupants.slice(0);
                            this.search = '';
                            this.fetchRooms();
                        }));
                }
            },

            showAlert(occupant) {
                const _this = this;
                this.$swal({
                    title: 'Gyventojo pašalinimas',
                    html: `Gyventojas: ${occupant.name} ${occupant.surname} <br/> Kambarys nr. ${occupant.room_number} - ${_this.$store.state.dormName}`,
                    type: 'error',
                    showCloseButton: true,
                    confirmButtonText: 'Pašalinti gyventoją',
                    buttonsStyling: false,
                    customClass: {
                        confirmButton: 'bg-transparent m-2 hover:bg-red-500 text-red-700' +
                            'font-semibold hover:text-white py-2 px-4 border border-red-500' +
                            'hover:border-transparent rounded',
                    }
                }).then((result) => {
                    if (result.value) {
                        this.removeOccupant(occupant.id, occupant.room_id);
                    }
                });
            },

            checkIfLate(date) {
                const startDate = new Date(date);
                const today = new Date();
                return startDate <= today;
            },

        },

        created() {

            this.$store.commit('busy', true);

            this.fetchOccupants();
            this.fetchRooms();

            this.$store.watch((state) => state.dorm, (oldValue, newValue) => {
                    this.changing = [];
                    this.search = '';
                    this.inChange = false;
                    this.$store.commit('busy', true);
                    this.fetchOccupants();
                    this.fetchRooms();
                    return this.$store.state.dorm;
                },
            );
        },

        computed: {
            filteredUsers() {
                const search = this.search.toLowerCase().trim();
                if (!search) return this.occupants;

                return this.occupants.filter(item => {
                    return item.name.toLowerCase().indexOf(search) > -1
                        || item.surname.toLowerCase().indexOf(search) > -1
                        || item.email.toLowerCase().indexOf(search) > -1
                })
            }
        },

    }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
