<template>
    <div>
        <div v-if="loaded">
            <div v-if="selectedUni !== ''">
                <div class="w-full h-12">
                    <div v-if="this.$props.filteredDorms.length > 0">
                        <div class="bg-teal-100 border border-teal-500 text-teal-700 px-4 py-3 rounded" role="alert">
                            <p class="font-bold text-lg">Paieška sėkminga</p>
                            <p class="text-base">Iš viso bendrabučių: {{this.$props.filteredDorms.length}}</p>
                        </div>
                    </div>
                    <div v-else-if="this.$props.filteredDorms.length === 0">
                        <div class="bg-red-100 border border-red-500 text-red-700 px-4 py-3 rounded" role="alert">
                            <p class="font-bold text-lg">Paieška nesėkminga!</p>
                            <p class="text-base">Bandykite ieškoti kitur.</p>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            <div v-else class="flex mb-4">
                <div class="w-full h-12">
                    <div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3 rounded" role="alert">
                        <p class="font-bold text-lg">Bendrabučio paieška</p>
                        <p class="text-base">Pasirinkite miestą, švietimo įstaiga ir žemėlapyje/apačioje rasite
                            bendrabučio vietą ir
                            informaciją!</p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</template>

<script>

    //Note - this component is not used anymore.

    import {ModelSelect} from 'vue-search-select';

    export default {
        name: 'MapFilters',
        props: ['filteredDorms'],
        data() {
            return {
                search: '',
                universities: [],
                cities: [],
                selectedUni: 0,
                selectedCity: 1,
                reason: '',
                coordinates: {},
                loaded: false,
            };
        },

        components: {
            ModelSelect
        },

        methods: {
            getUniversities() {
                this.universities = [];
                axios.get('api/university/list')
                    .then((res) => {
                        const _this = this;
                        _this.universities.push({value: 0, text: "Visos mokyklos"});
                        res.data.forEach(function (uni) {
                            if (_this.selectedCity === uni.city_id) {
                                _this.reason = '';
                                _this.universities.push({value: uni.id, text: uni.name});
                            }
                            _this.reason = 'Pasirinkitas miestas sistemoje neturi švietimo įstaigų!';
                            _this.loaded = true;
                        });
                    });
            },

            getCities() {
                const _this = this;
                axios.get('api/cities')
                    .then((res) => {
                        res.data.forEach(function (city) {
                            _this.cities.push({value: city.id, text: city.name});
                        });
                    }).catch(err => console.log(err));
            }
        },

        created() {
            this.getUniversities();
            this.getCities();
        },

        watch: {
            selectedUni() {
                this.$emit('filterByUni', this.selectedUni);
            },
            selectedCity() {
                this.reason = '';
                if (this.selectedCity === 3) { //Vilnius
                    this.coordinates = {
                        lat: 54.687157,
                        lng: 25.279652
                    };
                    this.selectedUni = 0;
                    this.$emit('changeCity', this.coordinates, this.selectedCity);
                    this.getUniversities();
                } else if (this.selectedCity === 2) { //Kaunas
                    this.coordinates = {
                        lat: 54.898521,
                        lng: 23.903597
                    };
                    this.selectedUni = 0;
                    this.$emit('changeCity', this.coordinates, this.selectedCity);
                    this.getUniversities();
                } else if (this.selectedCity === 1) { //Klaipėda
                    this.coordinates = {
                        lat: 55.703297,
                        lng: 21.144279
                    };
                    this.selectedUni = 0;
                    this.$emit('changeCity', this.coordinates, this.selectedCity);
                    this.getUniversities();
                } else if (this.selectedCity === 4) { //Šiauliai
                    this.coordinates = {
                        lat: 55.934908,
                        lng: 23.313682
                    };
                    this.selectedUni = 0;
                    this.$emit('changeCity', this.coordinates, this.selectedCity);
                    this.getUniversities();
                } else if (this.selectedCity === 5) { //Panevėžys
                    this.coordinates = {
                        lat: 55.73583039,
                        lng: 24.368831858
                    };
                    this.selectedUni = 0;
                    this.$emit('changeCity', this.coordinates, this.selectedCity);
                    this.getUniversities();
                }
            }
        }
    };
</script>