<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div
                    class="relative lg:w-3/4 md:w-3/4 sm:full w-full bg-white mx-auto rounded p-5 shadow-lg modal-container">
                <span @click="$emit('close')" class="cursor-pointer absolute text-xl p-2 mt-5"
                      style="top: 1rem; right: 2rem;"><i class="fas fa-times"></i></span>
                    <div class="modal-content">
                        <div class="modal-header mt-5">
                            <slot name="header">

                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">

                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: 'Modal',
        // data() {
        //     return {
        //         showModal: false
        //     };
        // }
    };
</script>

<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        transition: opacity .3s ease;
    }

    .modal-container {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        transition: all .3s ease;
        overflow: auto;
        max-height: 100vh;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-enter {
        opacity: 1;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>
