<template>
    <div class="shadow-lg bg-white mb-4">
        <p class="text-right text-sm pr-5 pt-2">
            <i style="color: #b3b3b3;" class="fas fa-edit"></i> <a
                class="no-underline hover:underline text-blue-500" href="#/user-edit">Redaguoti</a>
        </p>
        <div class="flex flex-wrap">
            <div class="w-full sm:w-full md:1/2 p-5 mb-5 lg:w-1/2">
                <div v-if="user.photo">
                    <img :src="`/images/users/${user.photo}`"
                         class="object-cover h-48 shadow-lg rounded-full mx-auto"
                         width="200" height="200"/>
                </div>
                <div v-else>
                    <vue-initials-img class="object-cover h-48 shadow-lg rounded-full mx-auto" size="200"
                                      :name='fullName'></vue-initials-img>
                </div>
            </div>

            <div class="w-full p-5 sm:w-full md:1/2 lg:w-1/2">
                <p class="text-xl font-bold mb-5 text-center lg:text-left">{{user.name}}
                    {{user.surname}}</p>
                <p class="text-base text-center lg:text-left"><i style="color: #b3b3b3;"
                                                                 class="fas fa-envelope-open-text"></i>
                    {{user.email}}</p>
                <p class="text-red-400 text-xs text-center lg:text-left">{{user.email_verified_at === null
                    ? "El.paštas" + " nepatvirtintas!" : null}}</p>
                <p class="text-base text-center lg:text-left"><i style="color: #b3b3b3;"
                                                                 class="fas fa-mobile-alt"></i>
                    {{user.phone}}</p>

                <p class="text-base text-center lg:text-left">
                    <span v-if="user.gender === 1">
                        <i style="color: #b3b3b3;" class="fas fa-mars"></i> Vyras
                    </span>
                    <span v-if="user.gender === 2">
                        <i style="color: #b3b3b3;" class="fas fa-venus"></i> Moteris
                    </span>
                </p>

                <p class="text-base text-center lg:text-left">
                    {{university.name}}
                </p>
                <br/>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "UserCard",
        props: ['user', 'fullName', 'university']
    }
</script>