<template>
    <div class="flex flex-wrap -mx-2">
        <div v-if="occupiedRoom !== ''" class="w-full h-100 sm:w-full md:w-1/2 lg:w-1/2 rounded mb-4 px-2">
            <div v-if="occupiedRoom !== ''">
                <div v-if="loaded">
                    <div class="shadow-lg h-full bg-white">
                        <br/>
                        <p class="text-lg font-bold text-center">
                            <i class="fas fa-building" style="color: #b3b3b3; font-size: 4rem;"></i><br>
                            <br>Mano kambarys
                        </p>

                        <br/>

                        <div class="flex flex-wrap p-5">
                            <div class="w-1/2">
                                <p class="text-base text-center">
                                    {{occupiedRoom.room.dorm.name}}
                                </p>
                                <p class="text-center text-gray-600 text-xs">
                                    <i style="color: #b3b3b3;" class="fas fa-map-marker-alt"></i>
                                    {{occupiedRoom.room.dorm.address}},
                                    {{occupiedRoom.room.dorm.university.city.name}}
                                </p>
                            </div>
                            <div class="w-1/2">
                                <div class="text-center text-base">
                                    Kambarys nr. {{occupiedRoom.room.room_number}}
                                </div>
                                <p class="text-gray-600 text-center text-xs">
                                    <i class="fas fa-coins" style="color: #b3b3b3"></i>
                                    {{occupiedRoom.room.price}} € /mėn.
                                </p>
                            </div>
                        </div>

                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full h-100 sm:w-full md:w-1/2 lg:w-1/2 rounded mb-4 px-2">
            <div class="shadow-lg h-full mb-4 bg-white">
                <div v-if="occupiedRoom !== ''">
                    <br/>
                    <p class="text-lg font-bold text-center">
                        <i class="fas fa-bed"
                           style="color: #b3b3b3; font-size: 4rem;"></i> <br> <br>Kambario gyventojai
                        ({{occupiedRoom.room.occupants.length}}/{{occupiedRoom.room.slots}})
                    </p>
                    <br/>
                    <p v-for="roommate in roommates" class="text-base text-center">
                        {{roommate.users[0].name}} {{roommate.users[0].surname}}
                    </p>
                </div>
                <div v-else>
                    <br/>
                    <p class="text-lg font-bold text-center">
                        <i class="fas fa-exclamation-circle"
                           style="color: #b3b3b3; font-size: 4rem;"></i> <br> <br>Kambario kol kas neturite!
                    </p>
                    <div class="text-center" v-if="roomRequested">
                        <p class="text-base text-center px-5">
                            Rezervacija pateikta! <i style="color: #b3b3b3;"
                                                     class="far fa-check-circle"></i>
                        </p>
                        <br/>
                        <p class="text-sm font-bold text-center">
                            {{roomRequest.room.dorm.name}}
                        </p>
                        <p class="text-center text-sm">
                            <i style="color: #b3b3b3;" class="fas fa-map-marker-alt"></i>
                            {{roomRequest.room.dorm.address}},
                            {{roomRequest.room.dorm.university.city.name}}
                        </p>
                        <p class="text-center text-sm">
                            Kambarys nr. {{roomRequest.room.room_number}}
                        </p>
                        <br/>
                        <button @click="goToRoomPage(roomRequest.room.dorm_id, roomRequest.room_id)"
                                class="bg-transparent hover:bg-teal-500 mb-2 text-teal-700 font-semibold hover:text-white py-2 px-4 border border-teal-500 hover:border-transparent rounded">
                            Peržiūrėti kambarį
                        </button>
                        <button @click="showAlert()"
                                class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
                            Atšaukti rezervaciją
                        </button>
                    </div>
                    <div class="text-center" v-else>
                        <p class="text-base text-center px-5">
                            Rezervacija nėra pateikta! <i style="color: #b3b3b3;"
                                                          class="far fa-times-circle"></i>
                        </p>
                        <br/>
                        <button @click="goToLandingPage()"
                                class="bg-transparent hover:bg-teal-500 text-teal-700 font-semibold hover:text-white py-2 px-4 border border-teal-500 hover:border-transparent rounded">
                            Ieškoti kambario
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "UserRoom",
        props: ['occupiedRoom', 'roomRequest', 'roomRequested', 'user', 'loaded', 'roommates'],

        model: {
            prop: 'roomRequested',
            event: 'toggleRequest',
        },

        methods: {
            goToRoomPage(dorm_id, room_id) {
                this.$router.push({path: `/dorm/${dorm_id}/room/${room_id}`});
            },

            showAlert() {
                this.$swal({
                    title: 'Rezervacijos atšaukimas',
                    html:
                        `Ar tikrai norite atšaukti rezervaciją?`,
                    type: 'warning',
                    showCloseButton: true,
                    confirmButtonText: 'Sutinku',
                    buttonsStyling: false,
                    customClass: {
                        confirmButton: 'bg-transparent m-2 hover:bg-teal-500 text-teal-700' +
                            'font-semibold hover:text-white py-2 px-4 border border-teal-500' +
                            'hover:border-transparent rounded',
                    }
                }).then((result) => {
                    if (result.value) {
                        this.deleteRoomRequest();
                        this.$store.commit('room_requested', false);
                    }
                });
            },

            deleteRoomRequest() {
                try {
                    axios.delete(`api/room-request/delete/user/${this.user.id}`);
                    this.$emit('toggleRequest', false);
                } catch (e) {
                    console.log(e);
                }
            },

            goToLandingPage() {
                this.$router.push({path: `/`});
            },


        }

    }
</script>