<template>
    <div class="container mx-auto">
        <div v-if="!this.$store.state.user.is_admin">
            <div v-if="loaded">
                <UserCard :user="user" :fullName="fullName" :university="university"/>
                <UserRoom :loaded="loaded" :user="user" :occupiedRoom="occupiedRoom" :roomRequest="roomRequest"
                          :roommates="roommates" v-model="roomRequested"/>
            </div>
            <Loading v-else/>
        </div>
    </div>
</template>
<script>
    import Loading from "../../../partials/Loading";
    import UserCard from "./UserCard";
    import UserRoom from "./UserRoom";

    export default {
        name: "UserPanel",
        data() {
            return {
                user: {},
                university: {},
                occupiedRoom: {},
                city: {},
                features: [],
                roommates: [],
                photos: [],
                roomRequest: {},
                roomRequested: false,
                loaded: false,
                fullName: '',

            }
        },

        components: {
            UserRoom,
            UserCard,
            Loading
        },

        methods: {
            async getUser() {
                try {
                    const request = await axios.get('/api/me');
                    this.user = request.data;
                    this.fullName = this.user.name + " " + this.user.surname;
                } catch (error) {
                    console.log(error);
                }
            },

            async getUniversity() {
                try {
                    const request_user_university = await axios.get(`api/university/${this.user.university_id}`);
                    this.university = request_user_university.data;

                } catch (error) {
                    console.log(error);
                }
            },

            async getOccupiedRoom() {
                try {
                    const request = await axios.get(`api/occupied-room/user/${this.user.id}`);
                    if (request.data !== '') {
                        this.occupiedRoom = request.data;
                        //this.features = JSON.parse(request.data.room.features);
                        this.photos = JSON.parse(request.data.room.photos);
                        this.getRoommates(request.data.room_id);
                    } else {
                        this.getRoomRequest();
                    }

                } catch (error) {
                    console.log(error);
                }
            },

            async getRoomRequest() {
                try {
                    const request = await axios.get(`/api/room-request/user/${this.user.id}`);
                    this.roomRequest = request.data;
                    this.occupiedRoom = '';
                    this.loaded = true;
                    if (request.data !== "") {
                        this.roomRequested = true;
                    }
                } catch (error) {
                    console.log(error);
                }
            },

            async getRoommates(room_id) {
                try {
                    const request = await axios.get(`api/roommates/room/${room_id}`);
                    this.roommates = request.data;
                    this.loaded = true;
                } catch (error) {
                    console.log(error);
                }
            },
        },

        async created() {
            if (this.$store.state.user.is_admin) {
                this.$router.push('/');
            } else {
                await this.getUser();
                await this.getUniversity();
                await this.getOccupiedRoom();
            }
        }
    }
</script>
