<template>
    <div>
        <form class="w-full max-w-sm" v-on:submit.prevent="onSubmit">
            <div v-if="edit" class="flex items-center border-b border-b-2 border-teal-500 py-2">
                <input type="text"
                       :value="valueLocal"
                       @blur.native="valueLocal = $event.target.value; edit = false; $emit('input', valueLocal);"
                       @keyup.enter.native="valueLocal = $event.target.value; edit = false; $emit('input', valueLocal);"
                       v-focus=""
                       class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none">
            </div>
            <p class="" v-else="" @click="edit = true;">
                {{valueLocal}}
            </p>
        </form>
    </div>
</template>

<script>
export default {
	name: 'click-to-edit',
	props: ['value'],

	data () {
		return {
			edit: false,
			valueLocal: this.value
		};
	},

	watch: {
		value: function() {
			this.valueLocal = this.value;
		}
	},

};
</script>
