<template>
    <div class="shadow-lg bg-white">
        <div class="flex content-center flex-wrap">
            <div class="w-full p-8 sm:w-full md:w-full lg:w-1/2">
                <div v-if="validationErrors.length === 0">
                    <p class="text-lg text-center font-bold">Rezervacija</p>
                    <br/>
                    <div v-if="has_room">
                        <p class="text-base text-red-400 text-center">
                            Rezervacija negalima, nes jūs turite kambarį!</p>
                    </div>
                    <div v-else-if="room_requested">
                        <p class="text-base text-red-400 text-center">
                            Rezervacija negalima, nes jūs jau esate pateikia rezervaciją!</p>
                    </div>
                    <div v-else>
                        <p class="text-base text-center">
                            Norint rezervuoti šį kambarį, prisijunkite ir paspauskite mygtuką 'Rezervuoti
                            kambarį'. Apie
                            rezervacija bus
                            pranešta el.paštu. Rezervuoti galima tik vieną kambarį!</p>
                    </div>
                </div>
                <div v-else>
                    <div v-if="validationErrors.success">
                        <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md"
                             role="alert">
                            <div class="flex">
                                <div class="py-1">
                                    <svg class="fill-current h-6 w-6 text-teal-500 mr-4"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"></path>
                                    </svg>
                                </div>
                                <div>
                                    <p class="font-bold">{{validationErrors.message}}</p>
                                    <p class="text-sm">Apie jūsų rezervacija bus pranešta el.paštu!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md"
                             role="alert">
                            <div class="flex">
                                <div class="py-1">
                                    <svg class="fill-current h-6 w-6 text-red-500 mr-4"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"></path>
                                    </svg>
                                </div>
                                <div>
                                    <p class="font-bold">Klaida!</p>
                                    <p class="text-sm">{{validationErrors.message.user_id[0]}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="w-full m-auto text-center sm:w-full md:w-full lg:w-1/2">
                <div v-if="reservationLoading">
                    <div class="lds-dual-ring"></div>
                </div>
                <div v-else>
                    <div v-if="has_room">
                        <button class="bg-transparent opacity-50 cursor-not-allowed hover:bg-teal-700 text-teal-900 font-semibold hover:text-white py-2 px-4 border border-teal-700 hover:border-transparent rounded">
                            Rezervuoti kambarį
                        </button>
                    </div>
                    <div v-else-if="room_requested">
                        <button class="bg-transparent opacity-50 cursor-not-allowed hover:bg-teal-700 text-teal-900 font-semibold hover:text-white py-2 px-4 border border-teal-700 hover:border-transparent rounded">
                            Rezervuoti kambarį
                        </button>
                    </div>
                    <div v-else>
                        <button @click="showAlert()"
                                class="bg-transparent hover:bg-teal-700 text-teal-900 font-semibold hover:text-white py-2 px-4 border border-teal-700 hover:border-transparent rounded">
                            Rezervuoti kambarį
                        </button>
                    </div>
                </div>
            </div>
            <br/>
        </div>
        <br/>
    </div>
</template>

<script>
    export default {
        props: ['room_id', 'room'],
        name: 'Reservation',
        data() {
            return {
                validationErrors: [],
                reservationLoading: false,
            };
        },
        methods: {
            async submitRequest(roomId) {
                try {
                    this.reservationLoading = true;
                    await axios.post('/api/room-request/create', {
                        room_id: roomId
                    }).then(res => {
                        this.validationErrors = res.data;
                        this.$store.commit('room_requested', true);
                        this.reservationLoading = false;
                    });
                } catch (error) {
                    if (error.response.status === 401) {
                        this.reservationLoading = false;
                        this.$swal({
                            title: 'Prašome prisijungti',
                            type: 'error',
                            buttonsStyling: false,
                            customClass: {
                                confirmButton: 'bg-transparent m-2 hover:bg-teal-700 text-teal-900' +
                                    'font-semibold hover:text-white py-2 px-4 border border-teal-700' +
                                    'hover:border-transparent rounded',
                            }
                        });
                    } else if (error.response.status === 403) {
                        this.reservationLoading = false;
                        this.$swal({
                            title: 'Jūsų el-paštas nepatvirtintas',
                            html:
                                'Jūsų el-paštas nėra patvirtintas, esame išsiuntę jums laišką su patvirtinimo nuorodą, kurią paspaudus patvirtinsite savo el-paštą. <br><br> Negavote? Spauskite mygtuką \'Siųsti dar kartą\'',
                            type: 'error',
                            showCancelButton: true,
                            confirmButtonText: 'Siųsti dar kartą',
                            cancelButtonText: 'Atšaukti',
                            preConfirm: () => {
                                try {
                                    axios.get('./email/resend');
                                } catch (error) {
                                    console.log(error);
                                }
                            },
                        }).then(() => {
                            return;
                        });
                    }
                    console.log(error.response);
                }
            },

            showAlert() {
                const room = this.$props.room[0];
                this.$swal({
                    title: 'Rezervacijos patvirtinimas',
                    html:
                        `Jeigu sutinkate rezervuoti kambarį nr. ${room.room_number} (${room.dorm.name}), spauskite <b>sutinku</b>!`,
                    type: 'question',
                    showCloseButton: true,
                    confirmButtonText: 'Sutinku',
                    buttonsStyling: false,
                    customClass: {
                        confirmButton: 'bg-transparent m-2 hover:bg-teal-700 text-teal-900' +
                            'font-semibold hover:text-white py-2 px-4 border border-teal-700' +
                            'hover:border-transparent rounded',
                    }
                }).then((result) => {
                    if (result.value) {
                        this.submitRequest(this.$props.room_id);
                    }
                });
            },
        },

        computed: {
            user_id() {
                return this.$store.state.user.id;
            },
            room_requested() {
                return this.$store.state.user.room_requested;
            },
            has_room() {
                return this.$store.state.user.has_room;
            }
        },
    };
</script>

<style scoped>
    .lds-dual-ring {
        display: inline-block;
        width: 64px;
        height: 64px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 5px solid #38b2ac;
        border-color: #38b2ac transparent #38b2ac transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

</style>