<template>
    <div class="container mx-auto">
        <br/>
        <div v-if="loaded">
            <vue-image-lightbox-carousel
                    ref="lightbox"
                    :show="showLightbox"
                    @close="showLightbox = false"
                    :images="photos">
            </vue-image-lightbox-carousel>
            <div v-if="this.room.length === 0">
                <div class="bg-red-100 border-t-4 border-red-500 text-red-700 p-4" role="alert">
                    <p class="font-bold text-lg">Klaida!</p>
                    <p class="text-base">Toks kambarys neegzistuoja!</p>
                </div>
            </div>
            <div v-else>
                <div class="carousel relative shadow-lg bg-white">
                    <div class="flex flex-wrap">
                        <div class="w-full p-8 sm:w-full md:w-full lg:w-1/2">
                            <div v-if="this.room.length > 0">
                                <carousel :per-page="1" :autoplay="true" :loop="true">
                                    <slide v-for="(photo, index) in photos" v-bind:key="index">
                                        <img style="cursor: pointer;" alt="room" @click="openLightbox(index)"
                                             class="object-cover h-64 object-center w-full" :src="photo.path"/>
                                    </slide>
                                </carousel>
                            </div>
                        </div>

                        <div class="w-full p-8 sm:w-full md:w-full lg:w-1/2">
                            <div v-if="this.room.length > 0">
                                <div class="flex flex-wrap">
                                    <div class="w-1/2">
                                        <p class="text-xs text-left text-gray-600">
                                            {{this.room[0].dorm.name}}
                                        </p>
                                        <div class="text-gray-900 text-left font-bold text-lg mb-2">
                                            Kambarys nr. {{this.room[0].room_number}}
                                        </div>
                                        <p class="text-gray-700 text-left text-sm">
                                            <b>Aukštas:</b> {{this.room[0].floor}}</p>
                                        <div v-if="this.room[0].slots - this.room[0].occupants.length === 0">
                                            <p class="text-red-700 text-left text-sm">Vietų nėra!</p>
                                        </div>
                                        <div v-else>
                                            <p class="text-gray-700 text-left text-sm">
                                                <b>Liko vietų: </b> {{this.room[0].slots -
                                                this.room[0].occupants.length}}
                                            </p>
                                        </div>
                                        <br/>
                                        <p v-for="feature in features" class="text-gray-700 text-left text-sm">
                                            <i class="fas fa-check"></i>
                                            {{feature.name}}
                                        </p>
                                        <br/>
                                    </div>
                                    <div class="w-1/2 m-auto p-8">
                                        <p class="text-center text-5xl font-bold">
                                            {{this.room[0].price}} €
                                        </p>
                                    </div>
                                </div>
                                <br/>
                                <p class="text-gray-700 text-left text-sm">
                                    <b>Aprašymas: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea et
                                    exercitationem id ipsa maiores nemo rem vitae voluptatem? Ab animi aut, deserunt
                                    dolorum
                                    eligendi fuga fugiat id in iure laboriosam maxime molestias nostrum quam repudiandae
                                    sapiente?
                                    Aperiam, exercitationem expedita, impedit ipsa iure magnam necessitatibus optio quia
                                    recusandae
                                    sit veritatis, voluptate.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div v-if="this.room[0].slots - this.room[0].occupants.length !== 0">
                    <Reservation :room="this.room" :room_id="this.room[0].id">
                    </Reservation>
                </div>
                <br/>
                <br/>
            </div>
        </div>
        <div class="text-center" v-else>
            <div class="lds-dual-ring m-32"></div>
        </div>
    </div>
</template>

<script>
    import {Carousel, Slide} from 'vue-carousel';
    import Reservation from './Reservation';
    import VueImageLightboxCarousel from 'vue-image-lightbox-carousel'

    export default {
        name: 'RoomInfo',
        data() {
            return {
                room: [],
                photos: [],
                features: [],
                showLightbox: false,
                loaded: false,
            };
        },

        components: {
            Reservation,
            Carousel, Slide, VueImageLightboxCarousel
        },

        created() {
            this.dorm_id = this.$route.params.dorm_id;
            this.room_id = this.$route.params.room_id;
            this.getRoom();

        },

        methods: {
            getRoom() {
                axios.get(`api/dorm/${this.dorm_id}/room/${this.room_id}`)
                    .then(res => {
                        this.room = res.data;
                        if (this.room.length > 0) {
                            this.photos = JSON.parse(res.data[0].photos);
                            //this.features = JSON.parse(res.data[0].features);
                        }
                        this.loaded = true;
                    }).catch(err => console.log(err));
            },

            openLightbox(index) {
                this.showLightbox = true;
                this.$refs.lightbox.showImage(index)
            },
        },
    };
</script>

<style scoped>
    .lds-dual-ring {
        display: inline-block;
        width: 64px;
        height: 64px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 100px;
        height: 100px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #2c7a7b;
        border-color: #2c7a7b transparent #2c7a7b transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

</style>