<template>
    <div class="container mx-auto">
        <br/>
        <br/>
        <div v-if="loaded" class="flex flex-wrap">
            <div class="w-full max-w-2xl mx-auto">
                <br/>
                <div class="bg-white shadow-lg rounded px-8 pt-6 pb-8 mb-4">

                    <div class="text-center" v-if="image">
                        <label for="file-upload" class="custom-file-upload">
                            <img :src="image" class="-mt-20 object-cover h-48 shadow-lg rounded-full mx-auto" width="200" height="200"/>
                        </label>
                        <input id="file-upload" v-on:change="onImageChange" accept="image/*" type="file"/>

                        <div @click="removePhoto()" class="text-center text-gray-600 mt-3 text-base cursor-pointer">
                            Ištrinti nuotrauką
                        </div>

                    </div>

                    <div class="text-center" v-else-if="user.photo">
                        <label for="file-upload1" class="custom-file-upload">
                            <img v-bind:src="`/images/users/${user.photo}`" class="-mt-20 object-cover h-48 shadow-lg rounded-full mx-auto"
                                 width="200" height="200"/>
                        </label>
                        <input id="file-upload1" v-on:change="onImageChange" accept="image/*" type="file"/>

                        <div @click="removePhoto()" class="text-center text-gray-600 text-base mt-3 cursor-pointer">
                            Ištrinti nuotrauką
                        </div>

                    </div>


                    <div class="text-center" v-else-if="!image && !user.photo">
                        <label for="file-upload2" class="custom-file-upload">
                            <vue-initials-img class="-mt-20 object-cover h-48 shadow-lg rounded-full mx-auto"
                                              size="200"
                                              :name='fullName'>
                            </vue-initials-img>
                        </label>
                        <input id="file-upload2" v-on:change="onImageChange" accept="image/*" type="file"/>
                    </div>

                    <form>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                                Vardas
                            </label>
                            <input v-model="user.name"
                                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                   id="name" type="text" placeholder="Jūsų vardas">
                            <div v-if="infoValidErrors.name">
                                <div v-for="error in infoValidErrors.name">
                                    <p class="text-red-400">{{error}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="surname">
                                Pavardė
                            </label>
                            <input v-model="user.surname"
                                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                   id="surname" type="text" placeholder="Jūsų pavardė">
                            <div v-if="infoValidErrors.surname">
                                <div v-for="error in infoValidErrors.surname">
                                    <p class="text-red-400">{{error}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
                                Telefono numeris
                            </label>
                            <input v-model="user.phone"
                                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                   id="phone" type="text" placeholder="+3706*******">
                            <div v-if="infoValidErrors.phone">
                                <div v-for="error in infoValidErrors.phone">
                                    <p class="text-red-400">{{error}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="mb-2">
                            <label class="block text-gray-700 text-sm font-bold mb-2">
                                Mokykla
                            </label>
                            <model-select :options="universities"
                                          v-model="selectedUni"
                                          placeholder="Pasirinkite mokyklą">
                            </model-select>
                            <div v-if="infoValidErrors.university_id">
                                <div v-for="error in infoValidErrors.university_id">
                                    <p class="text-red-400">{{error}}</p>
                                </div>
                            </div>
                        </div>
                        <button @click="updateUserInfo()"
                                class="bg-blue-700 hover:bg-blue-900 text-white font-bold mt-2 py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="button">
                            Atnaujinti
                        </button>
                    </form>
                    <br/>
                    <br/>
                    <p class="text-center text-2xl font-bold">El.pašto keitimas</p>
                    <div class="mb-4 mt-2">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                            El.paštas
                        </label>
                        <form>
                            <input v-model="user.email"
                                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                   id="email" type="email" placeholder="Jūsų el.paštas">
                            <div v-if="emailValidErrors.email">
                                <div v-for="error in emailValidErrors.email">
                                    <p class="text-red-400 text-sm mt-2">{{error}}</p>
                                </div>
                            </div>
                            <div v-else>
                                <p class="text-gray-600 text-sm mt-2">*Pakeitus el.paštą, nepamirškite jį patvirtinti
                                    gavus laišką!</p>
                            </div>
                            <br/>
                            <div v-if="emailUpdating">
                                <div class="lds-dual-ring"></div>
                            </div>
                            <div v-else>
                                <button @click="updateUserEmail()"
                                        class="bg-blue-700 hover:bg-blue-900 text-white font-bold mt-2 py-2 px-4 rounded"
                                        type="button">
                                    Atnaujinti el.paštą
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="bg-white shadow-lg rounded px-8 pt-6 pb-8 mb-4">
                    <div class="flex flex-wrap">
                        <div class="w-1/2">
                            <p class="text-sm mx-auto">Jeigu norite ištrinti savo paskyrą, spauskite mygtuką 'Ištrinti
                                paskyrą'</p>
                        </div>
                        <div class="w-1/2 text-center">
                            <button @click="showAlert()"
                                    class="bg-red-500 mx-auto hover:bg-red-700 text-center text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                    type="button">
                                Ištrinti paskyrą
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Loading v-else/>
    </div>
</template>

<script>
    import {ModelSelect} from 'vue-search-select';
    import Loading from "../../../partials/Loading";

    export default {
        name: "UserEdit",
        data() {
            return {
                user: {},
                selectedUni: '',
                universities: [],
                infoValidErrors: [],
                emailValidErrors: [],
                emailUpdating: false,
                image: null,
                loaded: false,
            }
        },

        methods: {

            onImageChange(e) {

                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);

                this.user.photo = null;

            },

            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },

            removePhoto() {
                this.image = null;
                this.user.photo = null;
            },

            async getUser() {
                const request = await axios.get('api/me');
                this.user = request.data;
                this.selectedUni = request.data.university_id;
            },

            getUniversities() {
                axios.get('api/university/list')
                    .then((res) => {
                        const _this = this;
                        res.data.forEach(function (uni) {
                            _this.universities.push({value: uni.id, text: uni.name});
                        });

                        this.loaded = true;

                    });
            },

            updateUserInfo() {
                axios.post(`api/user/edit/${this.user.id}`, {
                    "name": this.user.name,
                    "surname": this.user.surname,
                    "phone": this.user.phone,
                    "university_id": this.selectedUni,
                    "photo": this.image,
                }).then((response) => {
                    this.user.photo = response.data.photo;
                    this.$store.commit('user', this.user);
                    this.$swal({
                        title: "Atnaujinta!",
                        type: 'success',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.infoValidErrors = [];
                }).catch(error => {
                        if (error.response.status === 422) {
                            this.infoValidErrors = error.response.data.errors;
                        }
                    }
                )
            },

            updateUserEmail() {
                this.emailUpdating = true;
                axios.post(`api/user/email/edit/${this.user.id}`, {
                    "email": this.user.email
                }).then(() => {
                        this.$swal({
                            title: "El.pašto patvirtinimas",
                            type: 'info',
                            text: "Į jūsų naują paštą buvo išsiųstas patvirtinimo laiškas!"
                        });
                        this.emailValidErrors = [];
                        this.emailUpdating = false;
                    }
                ).catch(error => {
                    if (error.response.status === 422) {
                        this.emailUpdating = false;
                        this.emailValidErrors = error.response.data.errors;
                    }
                })
            },

            showAlert() {
                this.$swal({
                    title: 'Stop!',
                    text: `Ar jūs tikrai norite pašalinti savo paskyrą?`,
                    type: 'error',
                    showCloseButton: true,
                    confirmButtonText: 'Sutinku',
                    buttonsStyling: false,
                    customClass: {
                        confirmButton: 'bg-transparent m-2 hover:bg-red-500 text-red-700' +
                            'font-semibold hover:text-white py-2 px-4 border border-red-500' +
                            'hover:border-transparent rounded',
                    }
                }).then((result) => {
                    if (result.value) {
                        this.deleteUser();
                    }
                });
            },

            async deleteUser() {
                await axios.delete(`api/user/delete/${this.user.id}`).then(() => {
                    this.$router.push({path: `/`});
                    this.$swal({
                        title: "Paskyra ištrinta!",
                        type: 'warning',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }).catch(error => {
                    console.log(error);
                });

                await axios.post('./logout');
                this.$store.commit('logout');

            }


        },

        components: {
            Loading,
            ModelSelect
        },

        computed: {
            fullName() {
                return this.user.name + " " + this.user.surname;
            }
        },

        created() {
            this.getUser();
            this.getUniversities();
        }
    }
</script>

<style scoped>
    .lds-dual-ring {
        display: inline-block;
        width: 64px;
        height: 64px;
    }

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #38b2ac;
        border-color: #38b2ac transparent #38b2ac transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        display: inline-block;
        cursor: pointer;

        opacity: 1;
        transition: 0.3s;

    }

    .custom-file-upload:hover {
        opacity: 0.7;

    }

</style>