<template>
    <div>
        <div class="dropdown">
            <button class="dropbtn">
               {{$store.state.dormName}} <i class="fa fa-caret-down"></i>
            </button>
            <div v-if="!$store.state.busy" class="dropdown-content">
                <h1 v-for="dorm in dorms" class="cursor-pointer text-sm" :class="{'active': $store.state.dorm === dorm.id}" @click="changeDorm(dorm.id)">{{dorm.name}}</h1>
                <h1 class="cursor-pointer"><i class="fas fa-plus"></i><a class="pl-2" href="/management/register">Naujas bendrabutis</a></h1>
            </div>
            <div v-if="$store.state.busy" class="dropdown-content">
                <h1 v-for="dorm in dorms" class="cursor-not-allowed text-sm" :class="{'active': $store.state.dorm === dorm.id}">{{dorm.name}}</h1>
                <h1 class="cursor-not-allowed"><i class="fas fa-plus"></i><a class="pl-2">Naujas bendrabutis</a></h1>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DormSelect",

        data() {
            return {
                dorms: [],
                dormName: '',
            }
        },

        methods: {
            fetchDorms() {
                axios.get('/management/dorm/user/'+this.$store.state.user.id)
                .then((res => {
                    this.dorms = res.data;
                }))
                .finally(() => {
                    if(!this.$store.state.dorm) {
                        this.$store.state.dorm = this.dorms[0].id;
                        this.$store.commit('dormName', this.dorms[0].name);
                    }

                    let index = this.dorms.findIndex(item => item.id === this.$store.state.dorm);
                    this.dormName = this.dorms[index].name;
                    this.$store.commit('busy', false);
                })
            },

            changeDorm(dormId) {
                this.$store.commit('busy', true);
                this.$store.commit('dorm', dormId);
                let index = this.dorms.findIndex(item => item.id === this.$store.state.dorm);
                this.dormName = this.dorms[index].name;
                this.$store.commit('dormName', this.dormName);
                this.$store.commit('busy', false);
            },
        },

        computed: {
            dorm () {
                return this.$store.state.dorm;
            }
        },

        created() {
            this.$store.commit('busy', true);
            this.fetchDorms();
        }
    }
</script>

<style scoped>
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content h1 {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content h1:not(.active) {
    color: #303030;
}

.dropdown-content h1:not(.active):hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #232323;
    font-weight: 600;
    color: #fff;
    transition: 0.2s;
}
</style>
