<template>
    <div class="hidden lg:block sidenav w-1/6">
        <div class="sidenav-mid m-4">
            <div v-if="loaded">
                <div class="mt-5 mb-5" v-if="user.photo">
                    <img :src="`/images/users/${user.photo}`"
                         class="object-cover h-24 shadow-lg rounded-full mx-auto"
                         width="100" height="100"/>
                </div>
                <div class="mt-5 mb-5" v-else>
                    <vue-initials-img class="object-cover h-24 shadow-lg rounded-full mx-auto" size="100"
                                      :name='fullName'></vue-initials-img>
                </div>
                <p class="text-xl font-bold mb-5 text-center">{{user.name}}
                    {{user.surname}}</p>
                <p class="text-base text-center"><i style="color: #b3b3b3;" class="fas fa-envelope-open-text fa-fw"></i>
                    {{user.email}}</p>
                <p class="text-base text-center"><i style="color: #b3b3b3;" class="fas fa-mobile-alt fa-fw"></i>
                    {{user.phone}}</p>
            </div>

            <br/>

            <dorm-select class="py-2 pl-2 overflow-hidden"></dorm-select>

            <hr/>

            <ul v-if="!$store.state.busy" class="list-none mt-2">
                <router-link to="/" class="block">
                    <li :class="currentPath === '/' ? 'active-item' : null" class="py-2 pl-2">Bendrabučio informacija
                    </li>
                </router-link>
            </ul>

            <ul v-if="$store.state.busy" class="list-none mt-2">
                <li :class="currentPath === '/' ? 'active-item' : null" class="py-2 pl-2 cursor-not-allowed">Bendrabučio
                    informacija
                </li>
            </ul>


            <ul v-if="!$store.state.busy" class="list-none mt-2">
                <router-link to="/rooms" class="block">
                    <li :class="currentPath === '/rooms' ? 'active-item' : null" class="py-2 pl-2"><i
                        class="fas fa-bed pr-2"></i>Kambariai
                    </li>
                </router-link>
                <router-link to="/room/create" class="block">
                    <li :class="currentPath === '/room/create' ? 'active-item' : null" class="py-2 pl-2"><i
                        class="fas fa-plus pr-2"></i>Sukurti kambarį
                    </li>
                </router-link>
            </ul>

            <ul v-if="$store.state.busy" class="list-none mt-2">
                <li :class="currentPath === '/rooms' ? 'active-item' : null" class="py-2 pl-2 cursor-not-allowed"><i
                    class="fas fa-bed pr-2"></i>Kambariai
                </li>
                <li :class="currentPath === '/room/create' ? 'active-item' : null" class="py-2 pl-2 cursor-not-allowed">
                    <i
                        class="fas fa-plus pr-2"></i>Sukurti kambarį
                </li>
            </ul>
            <hr/>
            <ul v-if="!$store.state.busy" class="list-none mt-2">
                <router-link to="/users" class="block">
                    <li :class="currentPath === '/users' ? 'active-item' : null" class="py-2 pl-2"><i
                        class="fas fa-user pr-2"></i>Gyventojai
                    </li>
                </router-link>
                <router-link to="/requests" class="block">
                    <li :class="currentPath === '/requests' ? 'active-item' : null" class="py-2 pl-2"><i
                        class="fas fa-file-contract pr-2"></i>Prašymai
                    </li>
                </router-link>
            </ul>

            <ul v-if="$store.state.busy" class="list-none mt-2">
                <li :class="currentPath === '/users' ? 'active-item' : null" class="py-2 pl-2 cursor-not-allowed"><i
                    class="fas fa-user pr-2"></i>Gyventojai
                </li>
                <li :class="currentPath === '/requests' ? 'active-item' : null" class="py-2 pl-2 cursor-not-allowed"><i
                    class="fas fa-file-contract pr-2"></i>Prašymai
                </li>
            </ul>

            <hr/>

            <ul v-if="!$store.state.busy" class="list-none mt-2">
                <a href="/" class="block">
                    <li class="py-2 pl-2">Grįžti į pradžią <i class="fas fa-home pl-2"></i></li>
                </a>
                <a href="/logout" class="block">
                    <li class="py-2 pl-2">Atsijungti <i class="fas fa-sign-out-alt pl-2"></i></li>
                </a>
            </ul>

            <ul v-if="$store.state.busy" class="list-none mt-2">
                <li class="py-2 pl-2 cursor-not-allowed">Grįžti į pradžią <i class="fas fa-home pl-2"></i></li>
                <li class="py-2 pl-2 cursor-not-allowed">Atsijungti <i class="fas fa-sign-out-alt pl-2"></i></li>
            </ul>
        </div>
    </div>

</template>

<script>
    import DormSelect from "./DormSelect";

    export default {
        name: "Sidebar",
        components: {DormSelect},
        data() {
            return {
                user: '',
                fullName: '',
                loaded: false,
            }
        },

        computed: {
            currentPath() {
                return this.$route.path;
            }
        },

        methods: {
            async getUser() {
                this.loaded = false;
                try {
                    const request = await axios.get('/api/me');
                    this.user = request.data;
                    this.fullName = this.user.name + " " + this.user.surname;
                    this.loaded = true;
                } catch (error) {
                    console.log(error);
                }
            },

        },

        created() {
            this.getUser();
        }

    }
</script>
