<template>
    <div class="main-nav text-white h-16 shadow-md">
        <div class="mt-5 mr-5 float-right lg:hidden cursor-pointer" @click="navbarOpened = !navbarOpened">
            <svg class="fill-current text-white h-6 w-6" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <title>
                    Menu</title>
                <path v-if="navbarOpened" fill-rule="evenodd"
                      d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"></path>
                <path v-if="!navbarOpened" fill-rule="evenodd"
                      d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>

            </svg>
        </div>
        <dorm-select class="mt-5 ml-5 float-left lg:hidden"/>
        <div v-if="navbarOpened" class="p-4 main-nav lg:hidden absolute z-20 w-full" style="top: 4rem">
            <ul class="list-none mt-2">
                <router-link @click.native="navbarOpened = false" to="/" :class="currentPath === '/' ? 'active-top-item' : null" class="block top-bar-item">
                    <li class="py-2 pl-2">Bendrabučio informacija</li>
                </router-link>
            </ul>
            <hr/>
            <ul class="list-none mt-2">
                <router-link @click.native="navbarOpened = false" to="/rooms" :class="currentPath === '/rooms' ? 'active-top-item' : null"
                             class="block top-bar-item">
                    <li class="py-2 pl-2"><i class="fas fa-bed pr-2"></i>Kambariai</li>
                </router-link>
                <router-link @click.native="navbarOpened = false" to="/room/create" :class="currentPath === '/room/create' ? 'active-top-item' : null"
                             class="block top-bar-item">
                    <li class="py-2 pl-2"><i class="fas fa-plus pr-2"></i>Sukurti kambarį</li>
                </router-link>
            </ul>
            <hr/>
            <ul class="list-none mt-2">
                <router-link @click.native="navbarOpened = false" to="/users" :class="currentPath === '/users' ? 'active-top-item' : null"
                             class="block top-bar-item">
                    <li class="py-2 pl-2"><i class="fas fa-user pr-2"></i>Gyventojai</li>
                </router-link>
                <router-link @click.native="navbarOpened = false" to="/requests" :class="currentPath === '/requests' ? 'active-top-item' : null"
                             class="block top-bar-item">
                    <li class="py-2 pl-2"><i class="fas fa-file-contract pr-2"></i>Prašymai</li>
                </router-link>
            </ul>
            <hr/>

            <ul class="list-none mt-2">
                <a href="/" class="block top-bar-item">
                    <li class="py-2 pl-2">Grįžti į pradžią <i class="fas fa-home pl-2"></i></li>
                </a>
                <a href="/logout" class="block top-bar-item">
                    <li class="py-2 pl-2">Atsijungti <i class="fas fa-sign-out-alt pl-2"></i></li>
                </a>

            </ul>
        </div>
    </div>
</template>

<script>
    import DormSelect from "./DormSelect";

    export default {
        name: "Topbar",
        components: {DormSelect},

        data() {
            return {
                navbarOpened: false
            }
        },

        computed: {
            currentPath() {
                return this.$route.path;
            }
        }

    }
</script>

<style scoped>
    .dorm-text {
        font-size: 17px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
</style>