<template>
    <div class="flex flex-wrap">
        <div class="w-full sm:w-full md:1/2 mb-5 lg:w-1/2">
            <div v-if="user.photo">
                <img :src="`/images/users/${user.photo}`"
                     class="object-cover sm:h-32 sm:w-32 md:h-40 md:w-40 lg:w-48 lg:h-48 h-32 w-32 shadow-lg rounded-full mx-auto"/>
            </div>
            <div v-else>
                <vue-initials-img
                        class="object-cover sm:h-32 sm:w-32 md:h-40 md:w-40 lg:w-48 lg:h-48 h-32 w-32 shadow-lg rounded-full mx-auto"
                        size="200"
                        :name="user.name + ' ' + user.surname"></vue-initials-img>
            </div>
        </div>

        <div class="w-full sm:w-full md:1/2 lg:w-1/2">
            <p class="lg:text-2xl md:text-2xl sm:text-lg text-lg font-bold text-center lg:text-left">{{user.name}}
                {{user.surname}}</p>
            <p class="text-sm sm:text-sm md:text-base lg:text-base mb-5 text-center lg:text-left">{{roomText}}
                {{roomNumber}}</p>
            <p class="text-sm sm:text-sm md:text-base lg:text-base text-center lg:text-left">
                <i style="color: #b3b3b3;" class="fas fa-envelope-open-text"></i>
                {{user.email}}</p>
            <p class="text-sm sm:text-sm md:text-base lg:text-base text-center lg:text-left">
                <i style="color: #b3b3b3;" class="fas fa-mobile-alt"></i>
                {{user.phone}}</p>

            <p class="text-sm sm:text-sm md:text-base lg:text-base text-center lg:text-left">
                <span v-if="user.gender === 1">
                    <i style="color: #b3b3b3;" class="fas fa-mars"></i> Vyras
                </span>
                <span v-if="user.gender === 2">
                    <i style="color: #b3b3b3;" class="fas fa-venus"></i> Moteris
                </span>
            </p>

            <div v-if="currenPath === '/users'">
                <p class="text-sm sm:text-sm md:text-base lg:text-base text-center lg:text-left mt-5">
                    <i style="color: #b3b3b3;" class="fas fa-clock"></i>
                    <span v-if="!user.paid_until">
                    <span class="text-red-400">Nesusimokėta!</span>
                </span>
                    <span v-else>
                    Susimokėta iki -
                <span class="text-red-400"
                      v-if="checkIfLate(user.paid_until)">{{user.paid_until}}</span>
                <span @click="showDatePicker = !showDatePicker" class="no-underline hover:underline cursor-pointer"
                      v-else>{{user.paid_until}}</span>
                </span>
                </p>

                <div class="text-sm sm:text-sm md:text-base lg:text-base text-center lg:text-left mt-5"
                     v-if="checkIfLate(user.paid_until) || showDatePicker">
                    <date-picker class="z-20 mb-3" v-model="newDate" valueType="format"></date-picker>
                    <button v-if="isEmpty || emailSending"
                            class="date-confirm-btn opacity-50 cursor-not-allowed bg-blue-700 px-4 text-center hover:bg-blue-900 border border-blue-200 rounded shadow text-white">
                        <i class="fas fa-check"></i>
                    </button>
                    <button v-else @click="updateDate()"
                            class="date-confirm-btn bg-blue-700 px-4 text-center hover:bg-blue-900 border border-blue-200 rounded shadow text-white">
                        <i class="fas fa-check"></i>
                    </button>

                    <br/>

                    <div v-if="validationErrors.paid_until">
                        <div v-for="paid_until in validationErrors.paid_until" v-bind:key="paid_until"
                             class="text-red-400 text-xs">
                            {{paid_until}}
                        </div>
                    </div>

                    <div v-if="checkIfLate(user.paid_until)">

                        <div v-if="dateUpdating">
                            <button class="bg-blue-700 hover:bg-blue-900 py-2 px-3 text-center border border-red-200 opacity-50 cursor-not-allowed text-white font-semibold rounded shadow">
                                <i class="fas fa-envelope"></i>
                            </button>
                            <span class="ml-2">Siųsti įspėjimo laišką</span>
                        </div>

                        <div v-else>
                            <button v-if="!emailSending" @click="sendMail()"
                                    class="bg-blue-700 hover:bg-blue-900 py-2 px-3 text-center border border-red-200 text-white font-semibold rounded shadow">
                                <i class="fas fa-envelope"></i>
                            </button>
                            <button v-else
                                    class="bg-blue-700 hover:bg-blue-900 py-2 px-3 text-center border border-red-200 opacity-50 cursor-not-allowed text-white font-semibold rounded shadow">
                                <i class="fas fa-envelope"></i>
                            </button>
                            <span v-if="!emailSending"
                                  class="ml-2">{{sentMessage ? sentMessage : "Siųsti įspėjimo laišką"}}</span>
                            <span v-else class="ml-2">{{sentMessage ? sentMessage : "Siunčiama..."}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';

    export default {
        name: "UserModal",
        components: {DatePicker},
        props: ['user', 'roomNumber', 'roomText'],

        data() {
            return {
                newDate: null,
                showDatePicker: false,
                validationErrors: {},
                message: '',
                emailSending: false,
                sentMessage: '',

                dateUpdating: false
            }
        },

        methods: {
            checkIfLate(date) {
                const startDate = new Date(date);
                const today = new Date();
                return startDate <= today;
            },

            async sendMail() {

                this.emailSending = true;
                this.sentMessage = "";

                try {
                    const request = await axios.post('/management/oc-room/payment-warning-mail', {
                        user_id: this.user.id,
                        room_id: this.user.room_id
                    });

                    this.sentMessage = request.data.sent_message;
                    this.emailSending = false;

                } catch (e) {
                    this.emailSending = false;
                    this.sentMessage = "Išsiųsti laiško nepavyko!";
                    console.log(e);
                }
            },

            async updateDate() {
                this.validationErrors = {};
                this.message = '';
                this.sentMessage = "";
                this.dateUpdating = true;

                try {
                    const request = await axios.put('/management/oc-room/update-payment-date', {
                        user_id: this.user.id,
                        room_id: this.user.room_id,
                        paid_until: this.newDate,
                    });

                    this.user.paid_until = this.newDate;
                    this.message = request.data.message;
                    this.dateUpdating = false;


                } catch (e) {
                    this.message = '';
                    this.dateUpdating = false;
                    if (e.response.status === 422) {
                        this.validationErrors = e.response.data.errors;
                    } else {
                        console.log(e);
                    }
                }
            }
        },

        computed: {
            isEmpty() {
                return !this.newDate;
            },

            currenPath() {
                return this.$route.path;
            }
        }

    }
</script>

<style scoped>
    .date-confirm-btn {
        height: 34px;
    }
</style>