<template>
<div class="content-body p-4 md:flex">
    <div class="w-full md:w-1/4 mb-2 md:mb-0 h-32 shadow-md bg-white p-4 mr-4">
        <h1 class="text-xxl">{{users}}</h1>
        <h2 class="text-sm lg:text-lg">Vartotojai</h2>
    </div>
    <div class="w-full md:w-1/4 mb-2 md:mb-0 h-32 shadow-md bg-white p-4 mr-4">
        <h1 class="text-xxl">{{universities}}</h1>
        <h2 class="text-sm lg:text-base">Užregistruotos mokymo įstaigos</h2>
    </div>
    <div class="w-full md:w-1/4 mb-2 md:mb-0 h-32 shadow-md bg-white p-4 mr-4">
        <h1 class="text-xxl">{{dorms}}</h1>
        <h2 class="text-sm lg:text-base">Užregistruotų bendrabučių</h2>
    </div>
    <div class="w-full md:w-1/4 mb-2 md:mb-0 h-32 shadow-md bg-white p-4">
        <h1 class="text-xxl">{{rooms}}</h1>
        <h2 class="text-sm lg:text-base">Kambarių bendrabučiuose</h2>
    </div>
</div>
</template>

<script>
export default {
	data() {
		return {
			users: null,
			universities:null,
			dorms : null,
			rooms: null
		};
	},

	methods: {
		async fetchUsers(){
			try{
				const request = await axios.get('/admin/user/count');
				this.users = request.data;
			}catch(error){
				console.log(error);
			}
		},
		async fetchDorms(){
			try{
				const request = await axios.get('/admin/dorm/count');
				this.dorms = request.data;
			}catch(error){
				console.log(error);
			}        
		},
		async fetchUniversities(){
			try{
				const request = await axios.get('/admin/university/count');
				this.universities = request.data;
			}catch(error){
				console.log(error);
			}
		},
		async fetchRooms(){
			try{
				const request = await axios.get('/admin/room/count');
				this.rooms = request.data;
			}catch(error){
				console.log(error);
			}
		}
	},

	mounted(){
		this.fetchUsers();
		this.fetchDorms();
		this.fetchUniversities();
		this.fetchRooms();
	}
};
</script>

<style>

</style>