<template>
    <div>
        <modal :show-modal="showModal" @close="showModal = false">
            asdasdasd
        </modal>
        <form class="w-full max-w-sm" v-on:submit.prevent="searchRoom()">
            <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                <input @keyup="searchRoom()" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="number" v-model="keyword" placeholder="Kambario numeris">
                <button @click="clearInput" class="focus:outline-none flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button">
                    x
                </button>
            </div>
        </form>
        <table v-if="roomRequests.length" class="text-left w-full border-collapse">
            <thead>
            <tr>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Kambarys</th>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Mokymo įstaiga</th>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Bendrabutis</th>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Rezervacijos</th>
            </tr>
            </thead>
            <tbody>
                <tr class="r-row" v-for="roomRequest in roomRequests" @click="viewRequest(roomRequest.room_id)">
                    <td class="py-4 px-6 border-b border-grey-light font-semibold">{{roomRequest.room_number}}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{roomRequest.uni_name}}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{roomRequest.dorm_name}}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{roomRequest.total_r}}</td>
                </tr>
            </tbody>
        </table>
        <pagination
            v-if="total > 5"
            :meta_data="meta_data"
            v-on:next="fetchRoomRequests">
        </pagination>
    </div>
</template>

<script>
import Pagination from '../../partials/Pagination';
import Modal from '../partials/Modal';

export default {
	name: 'AdminRoomRequests',
	components: {
		Pagination, Modal
	},

	data () {
		return {
			roomRequests: [],
			defaultImg: '',
			keyword: '',

			meta_data: {
				last_page: null,
				current_page: 1,
				prev_page_url: null
			},
			total: '',
			showModal: false
		};
	},

	methods: {
		fetchRoomRequests(page = 1) {
			axios.get('/admin/room-requests/all', {
				params: {
					page
				}
			})
				.then((res) => {
					this.roomRequests = res.data.data;

					this.meta_data.last_page = res.data.last_page;
					this.meta_data.current_page = res.data.current_page;
					this.meta_data.prev_page_url = res.data.prev_page_url;
					this.total = res.data.total;
				});
		},

		viewRequest(roomId) {
			this.showModal = true;
		},

		searchRoom() {

		},

		clearInput() {

		}
	},

	created() {
		this.fetchRoomRequests();
	}
};
</script>

