<template>
    <div class="lg:flex">
        <div class="w-full lg:w-1/3">
            <h1 class="text-xl">Sukurti naują kambarį</h1>
            <form class="rounded pt-6 mb-4" autocomplete="off" v-on:submit.prevent="createRoom()">
                <div class="mb-4">
                    <label class="acp-label">
                        Kambario numeris
                    </label>
                    <input class="acp-input w-full" type="number" v-model="roomNumber">
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Aukštas
                    </label>
                    <input class="acp-input w-full" type="number" v-model="roomFloor">
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Vietų skaičius
                    </label>
                    <input class="acp-input w-full" type="number" v-model="roomSlots">
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Mokymo įstaiga
                    </label>
                    <model-select :options="universities"
                                  v-model="universityId"
                                  @input="fetchDorms()"
                                  placeholder="Pasirinkite mokymo įstaigą">
                    </model-select>
                </div>
                <div class="mb-4" v-if="hasDorms">
                    <label class="acp-label">
                        Bendrabutis
                    </label>
                    <model-select :options="dorms"
                                  v-model="dormId"
                                  placeholder="Pasirinkite bendrabutį">
                    </model-select>
                </div>
                <div v-else-if="universityId">
                    <span class="text-red-500 font-semibold">Ši mokymo įstaiga neturi įregistruotų bendrabučių.</span>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Nuotraukos (Max: {{maxImage}})
                    </label>
                    <vue-upload-multiple-image
                        class="mt-4"
                        @upload-success="uploadImageSuccess"
                        @before-remove="beforeRemove"
                        @edit-image="editImage"
                        :data-images="images"
                        dragText="Vilkite nuotraukas"
                        browseText="arba pasirinkite"
                        primaryText="Pagrindinė"
                        popupText="Ši nuotrauka nustatyta kaip pagrindinė"
                        markIsPrimaryText=""
                        idUpload="myIdUpload"
                        editUpload="myIdEdit"
                    ></vue-upload-multiple-image>
                </div>
                <button class="mt-2 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="submit"><i class="fas fa-plus pr-2"></i> Sukurti</button>
            </form>
        </div>
        <div class="w-full lg:w-2/3 my-auto mt-20">
            <div class="mx-auto room-card w-full lg:w-1/2 px-2 mb-4">
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <div class="relative">
                        <img class="relative object-cover w-full md:h-48 h-56" :src="setImage(index)">
                        <h1 v-if="index" @click="setImage(index-1)" class="cursor-pointer absolute text-white text-xxl" style="left: .75rem; top: 4.5rem;"><i class="fas fa-arrow-left"></i></h1>
                        <h1 v-if="index !== photos.length-1 && photos.length" @click="setImage(index+1)" class="cursor-pointer absolute text-white text-xxl" style="right: .75rem; top: 4.5rem;"><i class="fas fa-arrow-right"></i></h1>
                    </div>
                    <div class="px-6 pt-4 pb-12">
                        <div class="font-bold text-xl mb-2">{{roomNumber ? roomNumber : 'Kambario numeris'}}</div>
                        <div class="font-semibold text-lg mb-2">{{dormId ? dorms[dormArrIndexes[dormId]].text : 'Bendrabutis'}}</div>
                        <div class="font-semibold text-md">
                            {{universityId ? universities[universityId-1].text : 'Mokymo įstaiga'}}
                            <br>
                            Vietų skaičius: {{roomSlots}} / Aukštas: {{roomFloor}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ModelSelect } from 'vue-search-select';
import VueUploadMultipleImage from 'vue-upload-multiple-image';

export default {
	name: 'AdminRoomCreate',
	data () {
		return {
			dorms: [],
			dormId: '',
			universities: [],
			universityId: '',
			images: [],
			photos: [],
			maxImage: 13,
			roomNumber: null,
			roomFloor: null,
			roomSlots: null,
			hasDorms: false,
			dormArrIndexes: [],
			uniArrIndexes: [],
			index: 0,
		};
	},
	components: {
		ModelSelect, VueUploadMultipleImage
	},

	methods: {
		setImage(id) {
			if(id >= 0 && id < this.photos.length) {
				this.index = id;
			}

			if(this.photos.length > 0) {
				return this.photos[this.index].path;
			} else {
				return '/images/rooms/default_room.png';
			}
		},

		createRoom() {
			axios.post('/admin/room/add', {
				roomNumber: this.roomNumber,
				roomFloor: this.roomFloor,
				roomSlots: this.roomSlots,
				dormId: this.dormId,
				photos: this.photos
			})
				.then((response) => {
					alert('Kambarys sukurtas');
					this.dorms = [],
					this.dormId = '',
					this.universityId = '',
					this.images =[],
					this.photos = [],
					this.roomNumber = null,
					this.roomFloor = null,
					this.roomSlots = null,
					this.hasDorms = false,
					this.dormArrIndexes = [],
					this.uniArrIndexes = [],
					this.index = 0;
				});
		},

		fetchDorms() {
			this.dorms = [];
			this.hasDorms = false;
			this.dormArrIndexes = [];
			this.dormId = '';

			axios.get('/admin/dorm/all/' + this.universityId)
				.then((response) => {
					const _this = this;
					response.data.forEach(function(item, index) {
						_this.dorms.push({ value: item.id, text: item.name });
						_this.dormArrIndexes[item.id] = index;
					});

					if(this.dorms.length > 0) {
						this.hasDorms = true;
					}
				});
		},

		fetchUniversities() {
			axios.get('/admin/university/all')
				.then((response) => {
					const _this = this;
					response.data.forEach(function(item, index) {
						_this.universities.push({ value: item.id, text: item.name });
						_this.uniArrIndexes[item.id] = index;
					});
				});
		},

		uploadImageSuccess(formData, index, fileList) {
			this.photos.push({ path: fileList[index].path, image: fileList[index].name });
			this.setImage(0);
		},
		beforeRemove (index, done, fileList) {
			var r = confirm('Pašalinti nuotrauką?');
			if (r === true) {
				done();
				this.photos.splice(index, 1);
				this.setImage(0);
			}
		},
		editImage (formData, index, fileList) {
			this.photos[index]['path'] = fileList[index].path;
			this.photos[index]['image'] = fileList[index].name;
			this.setImage(0);
		}
	},

	created() {
		this.fetchUniversities();
	}
};
</script>

<style>
.icon-overlay {
    margin: 0 auto;
}
</style>
