<template>
    <div class="lg:flex">
        <div class="w-full lg:w-1/3">
            <h1 class="text-xl">Sukurti naują vartotoją</h1>
            <form class="rounded pt-6 mb-4" autocomplete="off" v-on:submit.prevent="createUser()">
                <div class="mb-4">
                    <label class="acp-label">
                        Vardas
                    </label>
                    <input class="acp-input w-full" v-model="userName" required>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Pavardė
                    </label>
                    <input class="acp-input w-full" v-model="userSurname" required>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Telefono numeris
                    </label>
                    <input class="acp-input w-full" type="number" v-model="userPhone" required>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        El. paštas
                    </label>
                    <input class="acp-input w-full" type="email" v-model="userMail" required>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Slaptažodis
                    </label>
                    <input class="acp-input w-full" type="password" v-model="userPw" required>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Mokymosi įstaiga
                    </label>
                    <model-select :options="universities"
                                  v-model="university">
                    </model-select>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Rolė
                    </label>
                    <model-select :options="roles"
                                  v-model="role">
                    </model-select>
                </div>
                <button class="mt-2 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="submit"><i class="fas fa-plus pr-2"></i> Sukurti</button>
            </form>
        </div>
    </div>
</template>

<script>
import { ModelSelect } from 'vue-search-select';

export default {
	name: 'AdminUserCreate',
	components: {
		ModelSelect
	},

	data () {
		return {
			universities: [],
			university: '',
			roles: [],
			role: '',
			userName: '',
			userSurname: '',
			userPhone: '',
			userMail: '',
			userPw: '',
		};
	},

	methods: {
		fetchUniversities() {
			axios.get('/admin/university/list')
				.then((response) => {
					const _this = this;
					response.data.forEach(function(item) {
						_this.universities.push({ value: item.id, text: item.name });
					});
				});
		},

		fetchRoles() {
			axios.get('/admin/role/all')
				.then((response) => {
					const _this = this;
					response.data.forEach(function(item) {
						_this.roles.push({ value: item.id, text: item.name });
					});
				});
		},

		createUser() {
			axios.post('/admin/user/add', {
				name: this.userName,
				surname: this.userSurname,
				phone: this.userPhone,
				email: this.userMail,
				password: this.userPw,
				university_id: this.university,
				role_id: this.role

			})
				.then((response) => {
					alert(response.data);
				});
		},
	},

	created() {
		this.fetchUniversities();
		this.fetchRoles();
	}
};
</script>

<style scoped>

</style>
