<template>
    <div>
		<register-modal v-if="showModal" @close="showModal = false; inputFeature = false; fetchManagerList()">
            <template v-slot:header>
                <h1 class="text-xxl font-semibold"><i class="far fa-user" style="color: #b3b3b3;"></i> {{selectedManager.name + " " + selectedManager.surname}}</h1>
            </template>
            <template v-slot:body>
                <div class="lg:flex">
                    <div class="w-full lg:w-1/2">
						<div class="mb-4">
                            <div v-if="selectedManager.dorms.length > 0">
                                <table class="text-left w-full border-collapse">
                                    <thead>
                                    <tr>
                                        <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Bendrabučiai</th>
                                        <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Veiksmai</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(managerDorm, index) in selectedManager.dorms" v-bind:key="managerDorm.id">
                                        <td class="py-4 px-6 border-b border-grey-light">{{managerDorm.name}}</td>
                                        <td class="py-4 px-6 border-b border-grey-light">
                                            <button class="bg-transparent hover:bg-red-500 text-red-700
                                                font-semibold hover:text-white py-2 px-4 border border-red-500
                                                hover:border-transparent rounded"
                                                @click="deleteAsignedManager(managerDorm.id, index)">
                                                Ištrinti
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br/>
                            </div>
                            <div v-if="filteredDorms.length > 0">
                                <label class="acp-label">
                                    Nurodykite bendrabutį:
                                </label>
                                <div class="inline-block relative w-full">
                                    <select v-model="selectedDorm" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                        <option v-for="dorm in filteredDorms" v-bind:key="dorm.id" :value="dorm">{{dorm.name}}</option>
                                    </select>
                                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                    </div>
                                </div>
                                <button class="bg-green-500 hover:bg-green-700 text-white font-semibold mt-2 py-2 px-4 border border-red-200 rounded shadow" @click="asignManager()">Pridėti bendrabutį</button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </register-modal>
		<form class="w-full max-w-sm mb-10" v-on:submit.prevent="searchManager">
            <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                <input @keyup="searchManager" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" v-model="keyword" placeholder="Vartotojo vardas ar pavardė, el-paštas, bendrabutis">
                <button @click="clearInput" class="focus:outline-none flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button">
                    x
                </button>
            </div>
        </form>
        <span v-if="managers.length === 0">Vartotojo tokiu vardu ar pavarde nėra.</span>
        <table class="text-left w-full border-collapse">
            <thead>
            <tr>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Admin</th>
				<th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light hidden sm:hidden md:table-cell lg:table-cell">El-paštas</th>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Bendrabučiai</th>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Veiksmai</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(manager, index) in managers" v-bind:key="manager.id">
                <td class="py-4 px-6 border-b border-grey-light"><a :href="'/admin/user/edit/' + manager.id" class="text-blue-600">{{manager.name + ' ' + manager.surname}}</a></td>
				<td class="py-4 px-6 border-b border-grey-light hidden sm:hidden md:table-cell lg:table-cell">{{manager.email}}</td>
                <td class="py-4 px-6 border-b border-grey-light">
                    <div v-if="manager.dorms.length > 0">
                        <ul class="list-none" v-for="dorms in manager.dorms">
                            <li>{{dorms.name}}</li>
                        </ul>
                    </div>
                    <div v-else>
                        <p class="text-red-400">-</p>
                    </div>
                </td>
                <td class="py-4 px-6 border-b border-grey-light">
                    <a class="no-underline hover:underline text-blue-500" href="#" @click.prevent="showManager(index)"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination
                v-if="total > 10"
                :meta_data="meta_data"
                v-on:next="fetchManagerList">
        </pagination>
    </div>
</template>

<script>
import _ from 'lodash';
import Pagination from '../../partials/Pagination';
import Modal from '../partials/Modal';
import RegisterModal from "../../components/RegisterModal";
export default {
	components: {
        RegisterModal,
		Pagination,Modal
	},

	name: 'AdminManagerList',
	props: ['routeAll', 'routeSearch'],

	data() {
		return {
			managers: [],
			dorms:[],
			selectedManager : {},
			showModal: false,
			selectedDorm: null,
			keyword: '',
			meta_data: {
				last_page: null,
				current_page: 1,
				prev_page_url: null
			},
			total: '',
		};
	},

	methods: {
		async fetchManagerList(page = 1) {
			await axios.get(this.routeAll, {
				params: {
					page
				},
			})
				.then((response) => {
					this.managers = response.data.data;
					this.meta_data.last_page = response.data.last_page;
					this.meta_data.current_page = response.data.current_page;
					this.meta_data.prev_page_url = response.data.prev_page_url;
					this.total = response.data.total;
				});
		},
		async fetchDormList() {
			await axios.get('/admin/dorm/all', {
			})
				.then((response) => {
					this.dorms = response.data;
				});
		},
		async showManager(index){
			try {
			    this.selectedDorm = null;
				this.selectedManager = this.managers[index];
				this.showModal = true;
			} catch (error) {
				console.log(error);
			}
		},
		async asignManager(){
            try {
                await axios.post('/admin/dorm/asignManager', {
                    id: this.selectedDorm.id,
                    manager_id: this.selectedManager.id
                });
                this.fetchDormList();
                this.fetchManagerList();
                this.selectedManager.dorms.push(this.selectedDorm);
                this.selectedDorm = null;
            } catch (error) {
                console.log(error);
            }
		},

        async deleteAsignedManager (dorm_id, index) {
		    try {
                await axios.delete(`/admin/dorm/deleteAsignedManager/${dorm_id}`);
                this.fetchDormList();
                this.fetchManagerList();
                this.$delete(this.selectedManager.dorms, index);
            } catch (e) {
                console.log(e);
            }
        },

		searchManager: _.debounce(function() {
			this.$nextTick(() => {
				if (this.keyword.length > 0) {
					axios.get(this.routeSearch, {
						params: {
							keyword: this.keyword,
						}
					})
						.then((response) => {
							this.managers = response.data;
						});
				}
				else {
					this.fetchManagerList();
				}
			});
		}, 700),

		clearInput() {
			this.keyword = '';
			this.fetchManagerList();
		}
	},

	async created() {
		this.fetchDormList();
		this.fetchManagerList();
	},

    computed: {
        filteredDorms() {
            return this.dorms.filter((dorm) => {
                return dorm.manager_id !== this.selectedManager.id ? dorm : null;
            });
        }
    }

};
</script>
