<template>
    <div>
        <div class="mb-4">
            <label class="acp-label">
                Bendrabutis:
            </label>
            <model-select :options="options2"
                          v-model="item2"
                          @input="searchByDorm()">
            </model-select>
        </div>
        <pagination
                class="pb-6"
                v-if="!searching && total > 8"
                :meta_data="meta_data"
                v-on:next="fetchRoomList">
        </pagination>
        <pagination
                class="pb-6"
                v-else-if="searching && total > 8"
                :meta_data="meta_data"
                v-on:next="searchByDorm">
        </pagination>
        <div class="flex flex-wrap -mx-2 mb-8">
            <div v-for="room in rooms" class="relative room-card w-full sm:w-1/2 md:w-1/3 xl:w-1/4 px-2 mb-4">
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                    <img class="object-cover w-full md:h-48 h-56" :src="setImage(room.room_id)">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">{{room.room_number}}</div>
                        <div class="font-semibold text-lg mb-2">{{room.dorm_name}}</div>
                        <div class="font-semibold text-md">
                            {{room.uni_name}}
                            <br>
                            Vietų skaičius: {{room.slots}} / Aukštas {{room.floor}}
                        </div>
                        <div class="flex pt-4">
                            <a v-bind:href="'/admin/room/edit/'+ room.room_id" class="pr-2 text-blue-500"><i class="fas fa-edit"></i></a>
                            <form v-on:submit.prevent="deleteRoom(room.room_id)">
                                <button class="text-red-500 float-right" type="submit"><i class="fas fa-trash"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination
                v-if="!searching && total > 8"
                :meta_data="meta_data"
                v-on:next="fetchRoomList">
        </pagination>
        <pagination
                v-else-if="searching && total > 8"
                :meta_data="meta_data"
                v-on:next="searchByDorm">
        </pagination>
    </div>
</template>

<script>
import { ModelSelect } from 'vue-search-select';
import Pagination from '../../partials/Pagination';

export default {
	components: {
		ModelSelect, Pagination
	},

	name: 'AdminRoomlist',

	data() {
		return {
			rooms: [],
			meta_data: {
				last_page: null,
				current_page: 1,
				prev_page_url: null
			},
			options2: [],
			item2: '0',
			searching: false,
			total: '',
			images: [],
		};
	},

	methods: {
		setImage(roomId) {
			return this.images[roomId];
		},

		getDefaultImgs() {
			const _this = this;
			this.rooms.forEach(function(item) {
				_this.images[item.room_id] = [];
				try {
					let jsonPhotos = JSON.parse(item.photos);
					jsonPhotos.forEach(function(pic) {
						_this.images[item.room_id] = pic.img;
					});
				} catch (e) {
					_this.images[item.room_id] = '/images/rooms/default_room.png';
				}
			});
		},

		deleteRoom(roomId) {
			if(confirm('Ar tikrai norite ištrinti?')) {
				axios.delete('/admin/room/delete/' + roomId)
					.then((res) => {
						this.fetchRoomList();
					});
			}
		},


		fetchDorms() {
			axios.get('/admin/dorm/all')
				.then((response) => {
					const _this = this;
					_this.options2.push({ value: '0', text: 'Visi bendrabučiai' });
					response.data.forEach(function(item) {
						_this.options2.push({ value: item.id, text: item.name });
					});
				});
		},

		fetchRoomList(page = 1) {
			this.searching = false;
			axios.get('/admin/room/all', {
				params: {
					page
				},
			})
				.then((response) => {
					this.rooms = response.data.data;
					this.meta_data.last_page = response.data.last_page;
					this.meta_data.current_page = response.data.current_page;
					this.meta_data.prev_page_url = response.data.prev_page_url;
					this.total = response.data.total;
					this.getDefaultImgs();
				});
		},

		searchByDorm(page = 1) {
			if(this.item2 === '0') {
				this.fetchRoomList();
			}
			else {
				this.searching = true;

				axios.get('/admin/room/search/' + this.item2, {
					params: {
						page
					},
				})
					.then((response) => {
						this.rooms = response.data.data;
						this.meta_data.last_page = response.data.last_page;
						this.meta_data.current_page = response.data.current_page;
						this.meta_data.prev_page_url = response.data.prev_page_url;
						this.total = response.data.total;
						this.getDefaultImgs();
					});
			}
		},
	},


	created() {
		this.fetchRoomList();
		this.fetchDorms();
	}
};
</script>
