<template>
    <div>
        <form class="w-full max-w-sm" v-on:submit.prevent="searchPermission">
            <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                <input @keyup="searchPermission" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" v-model="keyword" placeholder="Teisės pavadinimas arba apidūdinimas">
                <button @click="clearInput" class="focus:outline-none flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button">
                    x
                </button>
            </div>
        </form>
        <span v-if="permissions.length == 0">Teisių tokiu pavadinimų nėra.</span>
        <table v-if="permissions.length" class="text-left w-full border-collapse">
            <thead>
            <tr>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Teisė</th>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Apibūdinimas</th>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Rolės</th>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Veiksmai</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="permission in permissions" v-bind:key="permission.id">
                <td class="py-4 px-6 border-b border-grey-light">{{permission.name}}</td>
                <td class="py-4 px-6 border-b border-grey-light">{{permission.description}}</td>
                <td class="py-4 px-6 border-b border-grey-light">
                    <div class="checkboxes" v-for="role in roles" v-bind:key="role.id">
                        <input type="checkbox" :id="role.id+'-'+permission.id" @change="check(role.id,permission.id,$event)" :checked="permission.roles.find(a => a.id === role.id) ? true : false">
                        <label :for="role.id+'-'+permission.id">{{role.name}}</label>
                    </div>
                </td>
                <td class="py-4 px-6 border-b border-grey-light">
                    <!-- <a v-bind:href="'/admin/permission/edit/'+ permission.id" class="text-grey-lighter font-bold py-1 px-3 rounded text-md bg-blue hover:bg-blue-dark"><i class="fas fa-check"></i></a> -->
                    <a href="#" @click="deletePermission(permission.id)" class="text-red-500 font-bold py-1 px-3 rounded text-md bg-blue hover:bg-blue-dark"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination
                v-if="total > 10"
                :meta_data="meta_data"
                v-on:next="fetchPermissionList">
        </pagination>
    </div>
</template>

<script>
    import _ from 'lodash';
    import Pagination from "../../partials/Pagination";

    export default {
        components: {
            Pagination
        },

        name: "AdminPermissionList",
        props: ['routeAll', 'routeSearch','routeRoles'],

        data() {
            return {
                permissions: [],
                roles:[],
                keyword: "",
                checkedRoles:[],
                meta_data: {
                    last_page: null,
                    current_page: 1,
                    prev_page_url: null
                },
                total: ''
            }
        },
        methods: {
            deletePermission(permission) {
                if(confirm("Ar tikrai norite ištrinti?")) {
                    axios.delete('/admin/permissions/delete/' + permission)
                        .then(() => {
                            this.fetchPermissionList();
                        });
                }
            },
            check(role,permission,event){
                if(event.srcElement.checked){
                    this.addPermissionToRole(role,permission,event);
                }else{
                    this.removePermissionFromRole(role,permission,event);
                }
            },
            async removePermissionFromRole(role,permission,event){
                try {
                    const request = await axios.delete('/admin/permissionRole/delete/'+role+'&'+permission);
                } catch (error) {
                    event.srcElement.checked = !event.srcElement.checked;
                    console.log(error);
                }
            },
            async addPermissionToRole(role,permission,event){
                try {
                    const request = await axios.post('/admin/permissionRole/add',{
                        role_id:role,
                        permission_id:permission
                    });

                } catch (error) {
                    event.srcElement.checked = !event.srcElement.checked;
                    console.log(error);
                }
            },
            async fetchPermissionList(page = 1) {
                await axios.get(this.routeAll, {
                    params: {
                        page
                    },
                })
                .then((response) => {
                    this.permissions = response.data.data;
                    this.meta_data.last_page = response.data.last_page;
                    this.meta_data.current_page = response.data.current_page;
                    this.meta_data.prev_page_url = response.data.prev_page_url;
                    this.total = response.data.total;
                });
            },
            async fetchRoleList() {
                await axios.get(this.routeRoles)
                .then((response) => {
                    this.roles = response.data;
                });
            },
            async prepareData(){
                await this.fetchRoleList();
                await this.fetchPermissionList();
            },
            searchPermission: _.debounce(function() {
                this.$nextTick(() => {
                    if (this.keyword.length > 0) {
                        axios.get(this.routeSearch, {
                            params: {
                                keyword: this.keyword,
                            }
                        })
                        .then((response) => {
                            this.permissions = response.data;
                        });
                    }
                    else {
                        this.fetchPermissionList();
                    }
                });
            }, 700),

            clearInput() {
                this.keyword = '';
                this.fetchPermissionList();
            }
        },

        created() {
            this.prepareData();
        },
    }
</script>
