<template>
    <div>
		<modal v-if="showModal" @close="showModal = false; inputFeature = false; fetchUniversityList()">
            <template v-slot:header>
                <h1 class="text-xxl font-semibold"><i class="far fa-building" style="color: #b3b3b3;"></i> {{university.name}}</h1>
            </template>
            <template v-slot:body>
                <div class="p-4 lg:flex">
                    <div class="w-full lg:w-1/2">
                        <div class="mb-4">
                            <label class="acp-label">
                                Pavadinimas:
                            </label>
                            <input class="acp-input w-full" type="text" v-model="university.name">
                        </div>
						<div class="mb-4">
                            <label class="acp-label">
                                Miestas:
                            </label>
                            <select v-model="selectedCity">
								<option v-for="(city) in cities" v-bind:key="city.id" :value="city.id">{{city.name}}</option>
							</select>
                        </div>
                    </div>
                </div>
                <form class="p-4" @submit.prevent="updateUniversity()">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 border border-red-200 rounded shadow" type="submit">Atnaujinti</button>
                </form>
            </template>
        </modal>
        <form class="w-full max-w-sm" v-on:submit.prevent="searchUniversity">
            <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                <input @keyup="searchUniversity" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" v-model="keyword" placeholder="Pavadinimas..">
                <button @click="clearInput" class="focus:outline-none flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button">
                    x
                </button>
            </div>
        </form>
        <span v-if="universities.length == 0">Mokyklų tokiu pavadinimų nėra.</span>
        <div class="items mt-10">
            <div class="accordion rounded overflow-hidden border border-gray-400 text-left w-full" v-for="(university,uniIndex) in universities" v-bind:key="university.id">
                <div class="accordion-header text-md py-3 px-5 flex cursor-pointer hover:bg-gray-500 hover:border-black" @click="collapse(university.id,$event)">
                    <div id="name" class="w-2/4">{{university.name}}</div>
                    <div id="city" class="w-1/4 text-center">{{university.city.name}}</div>
                    <div id="actions" class="w-1/4 text-right">
                        <a @click="editUniversity(uniIndex)" class="text-grey-lighter font-bold py-1 px-3 rounded text-md bg-blue hover:bg-blue-dark"><i class="fas fa-edit"></i></a>
                        <a href="#" @click="deleteUniversity(university.id)" class="text-red-500 font-bold py-1 px-3 rounded text-md bg-blue hover:bg-blue-dark"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
				<div class="accordion-body flex flex-wrap" v-bind:class="{open: showCollapse == university.id}">
					<div class="card md:w-full lg:w-1/2 px-2" v-for="(dorm,dormIndex) in university.dorms" v-bind:key="dorm.id">
						<div class="rounded overflow-hidden shadow-lg" v-bind:class="{'my-10': showCollapse == university.id}">
							<div class="my-5">
								<div class="px-6 py-4">
									<div class="font-bold text-xl mb-2">{{dorm.name}}</div>
									<p class="text-gray-700 text-base">
										{{dorm.address}}
									</p>
								</div>
								<div class="px-6 py-4">
									 <a href="#" @click.prevent="editDorm(uniIndex,dormIndex)" class="text-grey-lighter font-bold py-1 px-3 rounded text-md bg-blue hover:bg-blue-dark"><i class="fas fa-check"></i></a>
                        			 <a href="#" @click="deleteDorm(dorm.id)" class="text-red-500 font-bold py-1 px-3 rounded text-md bg-blue hover:bg-blue-dark"><i class="fas fa-trash"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="card md:w-full lg:w-1/2 px-10">
						<a v-bind:href="'/admin/dorm/create/'+university.id">
							<div class="card-body max-w-md rounded overflow-hidden bg-gray-200 opacity-25 border-dashed border-2 border-gray-600" v-bind:class="{'my-10': showCollapse == university.id}">
								<div class="my-5">
									<div class="px-12 py-8 text-center">
										<i class="fas fa-plus fa-5x"></i>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
            </div>
        </div>

        <pagination
                v-if="total > 10"
                :meta_data="meta_data"
                v-on:next="fetchUniversityList">
        </pagination>
    </div>
</template>

<style scoped>
	.card-body, .fa-5x{
		transition: 0.3s;
	}
	.card-body:hover{
		opacity: 100;
	}
	.card-body:hover .fa-5x{
		color:rgba(0, 0, 0, 0.70)
	}
	.accordion-body{
		max-height: 0em;
		opacity: 0;
		transition: all .5s;
	}
	.open{
		max-height: 100em;
		opacity: 1;
	}
</style>

<script>
import _ from 'lodash';
import Modal from '../partials/Modal';
import Pagination from '../../partials/Pagination';

export default {
	components: {
		Pagination,Modal
	},

	name: 'AdminUniversityList',
	props: ['routeAll', 'routeSearch'],

	data() {
		return {
			university:{},
			cities:[],
			selectedCity:null,
			dorm:{},
			universities: [],
			keyword: '',
			meta_data: {
				last_page: null,
				current_page: 1,
				prev_page_url: null
			},
			showCollapse:false,
			showModal: false,
			editClick: false,
			total: '',
		};
	},
	methods: {
		async editUniversity(university){
			this.editClick = true;
			try {
				const request = await axios.get('/api/cities');
				this.university = this.universities[university];
				this.cities = request.data;
				this.selectedCity = this.university.city.id;
				this.showModal = true;
				this.editClick = false;
			} catch (error) {
				console.log(error);
			}
		},
		async updateUniversity(){
			try{
				let city = this.cities.find(o => o.id === this.selectedCity);
				this.university.city_id = this.selectedCity;
				const request = await axios.put('/admin/university/update',{
				    id: this.university.id,
                    name: this.university.name,
                    city_id: this.university.city_id
                });
				this.university.city = city;
				this.showModal = false;
			}catch(error){
				console.log(error);
			}

		},
		deleteUniversity(university) {
			if(confirm('Ar tikrai norite ištrinti?')) {
				axios.delete('/admin/university/delete/' + university)
					.then(() => {
						this.fetchUniversityList();
					});
			}
		},
		deleteDorm(dorm){
			if(confirm('Ar tikrai norite ištrinti?')) {
				axios.delete('/admin/dorm/delete/' + dorm)
					.then(() => {
						this.fetchUniversityList();
					});
			}
		},
		collapse(id, event){
			if(!this.editClick){
				if(id == this.showCollapse){ // closed
					this.showCollapse = false;
					return;
				}else{
					this.showCollapse = id; // open
				}
			}
		},
		async fetchUniversityList(page = 1) {
			await axios.get(this.routeAll, {
				params: {
					page
				},
			})
				.then((response) => {
					this.universities = response.data.data;
					this.meta_data.last_page = response.data.last_page;
					this.meta_data.current_page = response.data.current_page;
					this.meta_data.prev_page_url = response.data.prev_page_url;
					this.total = response.data.total;
				});
		},
		async prepareData(){
			await this.fetchUniversityList();
		},
		searchUniversity: _.debounce(function() {
			this.$nextTick(() => {
				if (this.keyword.length > 0) {
					axios.get(this.routeSearch, {
						params: {
							keyword: this.keyword,
						}
					})
						.then((response) => {
							this.universities = response.data;
						});
				}
				else {
					this.prepareData();
				}
			});
		}, 700),

		clearInput() {
			this.keyword = '';
			this.prepareData();
		}
	},

	created() {
		this.prepareData();
	},
};
</script>

