<template>
    <div class="lg:flex">
        <div class="w-full">
            <h1 class="text-xl">Sukurti naują bendrabutį</h1>
            <form class="rounded pt-6 mb-4" autocomplete="off" v-on:submit.prevent="createDorm()">
                <div class="mb-4">
                    <label class="acp-label">
                        Pavadinimas
                    </label>
                    <input class="acp-input w-full border" v-bind:class="{ error: errors.name }" v-model="dorm.name" placeholder="Statybininkų prospekto bendrabutis..." required>
                    <div v-if="errors.name" class="errors">
                        <p v-for="error in errors.name" v-bind:key="error" class="text-red-500 text-xs italic">{{error}}</p>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Adresas
                    </label>
                    <input @keyup="searchAdress" class="acp-input w-full" type="text" v-model="keyword" placeholder="Taikos pr. 6a, Klaipėda..">
                    <div v-if="errors.name" class="errors">
                        <p v-for="error in errors.name" v-bind:key="error" class="text-red-500 text-xs italic">{{error}}</p>
                    </div>
                </div>
                <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 mb-4" role="alert">
                <p class="font-bold">Dėmesio!</p>
                <p>Įvedus adresą, žemėlapyje žymeklis persikels automatiškai, tačiau žymeklio pozicija gali nesutapti su adresu. Pataisykite žymeklį prieš patvirtindami duomenys!</p>
            </div>
                <div class="mb-4" id="map" ref="map"/>
                <div class="mb-4">
                    <label class="acp-label">
                        Administratorius
                    </label>
                    <select class="acp-input w-full" v-model="selectedManager">
                        <option v-for="manager in managers" v-bind:key="manager.id" :value="manager.id">{{manager.name+" "+manager.surname}}</option>
                    </select>
                </div>
                <button class="mt-2 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="submit"><i class="fas fa-plus pr-2"></i> Sukurti</button>
            </form>
        </div>
    </div>
</template>

<script>

import gmapsInit from '../../gmaps';
import VueUploadMultipleImage from 'vue-upload-multiple-image';

export default {
	name: 'AdminDormCreate',
	props:{
		university_id: null
	},
	data () {
		return {
			managers:[],
			selectedManager:{},
			dorm: {},
			dormPhotos:[],
			currentCity:null,
			errors:[],
			keyword: '',
			initialPos: null,
			map:'',
			geocoder:'',
			marker:'',
			markerSetPosition: '',
		};
	},

	methods: {
		async fetchCity() {
			try {
				const request = await axios.get('/api/university/getCity/'+this.university_id);
				this.currentCity = request.data;
			} catch (error) {
				console.log(error);
			}
		},
		async fetchManagers(){
			try {
				const request = await axios.get('/admin/user/managers');
				this.managers = request.data.data;
			} catch (error) {
				console.log(error);
			}
		},
		async createMap() {
			try {
				const that = this;
				const google = await gmapsInit();
				this.geocoder = new google.maps.Geocoder();
				this.map = new google.maps.Map(
					this.$refs.map, {
						zoom: 12,
						streetViewControl: false,
						center: {lat:0,lng:0}
					}
				);
				this.geocoder.geocode({'address': that.currentCity.name}, function (results, status) {
					if (status === google.maps.GeocoderStatus.OK) {
						that.map.setCenter(results[0].geometry.location);
						that.initialPos = results[0].geometry.location;
						this.marker = new google.maps.Marker({
							position: results[0].geometry.location,
							draggable:true,
							title:'Perstumk mane, kur reikia!'
						});
						this.marker.setMap(that.map);
						google.maps.event.addListener(this.marker, 'dragend', function() {
							that.markerSetPosition = this.position;
						});
					} else {
						alert(status);
					}
				});
			} catch (error) {
				console.error(error);
			}
		},
		searchAdress: _. debounce(function() {
			var that = this;
			this.$nextTick(() => {
				if (this.keyword.length > 0) {
					this.geocoder.geocode({'address': this.keyword}, function (results, status) {
						if (status === google.maps.GeocoderStatus.OK) {
							that.map.setZoom(18);
							that.map.setCenter(results[0].geometry.location);
							this.marker.setPosition(results[0].geometry.location);
							this.marker.setMap(that.map);
							that.markerSetPosition = this.marker.position;
						} else {
							alert(status);
						}
					});
				}else{
					this.geocoder.geocode({'address': this.currentCity.name}, function (results, status) {
						if (status === google.maps.GeocoderStatus.OK) {
							that.map.setZoom(12);
							that.map.setCenter(results[0].geometry.location);
							this.marker.setPosition(results[0].geometry.location);
							this.marker.setMap(that.map);
						} else {
							alert(status);
						}
					});
				}
			});
		}, 700),
		async handleDrag(event){
			console.log(event);
		},
		async createDorm() {
			try{
				await axios.post('/api/admin/dorm/add-without-img',{
					name: this.dorm.name,
					university_id:this.university_id,
					address:this.keyword,
					lat:this.markerSetPosition.lat(),
					long:this.markerSetPosition.lng(),
					manager_id:this.selectedManager,
				});
				this.$swal({
					title: 'Sukurta!',
					type: 'success',
					html:'Sukurėte naują bendrabutį, administruojamą vartotojo: "'+this.selectedManager+'".',
					confirmButtonText: 'Gerai',
				});
			}catch(error){
				console.log(error);
			}
		},
	},

	async created() {
		await this.fetchCity();
		await this.createMap();
		await this.fetchManagers();
	}
};
</script>

<style scoped>
.error{
    border-color: red;
}
#map{
    width: 100%;
    height: 500px
}
</style>
