<template>
    <div class="lg:flex">
        <div class="w-full lg:w-1/3">
            <h1 class="text-xl">Sukurti naują teisę</h1>
            <form class="rounded pt-6 mb-4" autocomplete="off" v-on:submit.prevent="createPermission()">
                <div class="mb-4">
                    <label class="acp-label">
                        Pavadinimas
                    </label>
                    <input class="acp-input w-full" v-model="permissionName" placeholder="room-view,reservation-edit.." required>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Apibūdinimas
                    </label>
                    <input class="acp-input w-full" v-model="permissionDescription" placeholder="Sukurti kambarį, Pakeisti rezervaciją.." required>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Rolės matomumas (pagal nutylėjimą)
                    </label>
                    <div class="roles" v-for="role in roles" v-bind:key="role.id">
                        <input type="checkbox" :id="role.id" :value="role.id" v-model="checkedRoles">
                        <label :for="role.id">{{role.name}}</label>
                    </div>
                </div>
                <button class="mt-2 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="submit"><i class="fas fa-plus pr-2"></i> Sukurti</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AdminUserCreate",

        data () {
            return {
                permissionName: '',
                permissionDescription: '',
                roles: [],
                role: '',
                checkedRoles:[]
            }
        },

        methods: {
            async fetchRoles() {
                try {
                    const request = await axios.get('/admin/role/all')
                    this.roles = request.data;
                } catch (error) {
                    console.log(error);
                }
            },
            async createPermission() {
                try{
                    const request = await axios.post('/admin/permissions/add', {
                        name: this.permissionName,
                        description: this.permissionDescription,
                        roles: this.checkedRoles
                    })
                    alert(request.data);
                }catch(error){
                    alert(error.response.data)
                }
            },
        },

        created() {
            this.fetchRoles();
        }
    }
</script>

<style scoped>

</style>