<template>
    <div class="lg:flex">
        <div class="w-full lg:w-1/3">
            <h1 class="text-xl">Sukurti naują universitetą</h1>
            <form class="rounded pt-6 mb-4" autocomplete="off" v-on:submit.prevent="createUniversity()">
                <div class="mb-4">
                    <label class="acp-label">
                        Pavadinimas
                    </label>
                    <input class="acp-input w-full border" v-bind:class="{ error: errors.name }" v-model="university.name" placeholder="Vilniaus Universitetas, Klaipėdos Valstybinė kolegija.." required>
                    <div v-if="errors.name" class="errors">
                        <p v-for="error in errors.name" v-bind:key="error" class="text-red-500 text-xs italic">{{error}}</p>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Miestas
                    </label>
                    <select class="acp-input w-full" v-bind:class="{ error: errors.city_id }" v-model="university.city_id">
                        <option v-for="(city) in cities" v-bind:key="city.id" :value="city.id">{{city.name}}</option>
                    </select>
                    <div v-if="errors.city_id" class="errors">
                        <p v-for="error in errors.city_id" v-bind:key="error" class="text-red-500 text-xs italic">{{error}}</p>
                    </div>
                </div>
                <button class="mt-2 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="submit"><i class="fas fa-plus pr-2"></i> Sukurti</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
	name: 'AdminUniversityCreate',

	data () {
		return {
			university: {},
			cities:[],
			selectedCity:null,
			errors:[],
		};
	},

	methods: {
		async fetchCities() {
			try {
				const request = await axios.get('/api/cities');
				this.cities = request.data;
			} catch (error) {
				console.log(error);
			}
		},
		async createUniversity() {
			try{
				await axios.post('add',{
					name: this.university.name,
					city_id:this.university.city_id
				});
				this.$swal({
					title: 'Sukurta!',
					type: 'success',
					html:'Sukurėte naują mokymosi įstaigą, pavadinimu "'+this.university.name+'". <br><br>Norint pridėti įstaigai bendrabučius, spauskite "Sąrašas" ',
					showCancelButton: true,
					confirmButtonText: 'Sąrašas',
					cancelButtonText:'Grįžti',
				}).then( (result) => {
					if(result.value){
						window.location.href = './'; 
					}
				});
			}catch(error){
				if(error.response.status === 422){
					this.errors = error.response.data.errors;
				}else{
					console.log(error);
				}
                
			}
		},
	},

	created() {
		this.fetchCities();
	}
};
</script>

<style scoped>
.error{
    border-color: red;
}
</style>