<template>
    <div>
        <form class="w-full max-w-sm" v-on:submit.prevent="searchUser">
            <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                <input @keyup="searchUser" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" v-model="keyword" placeholder="Vartotojo vardas ar pavardė">
                <button @click="clearInput" class="focus:outline-none flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded" type="button">
                    x
                </button>
            </div>
        </form>
        <span v-if="users.length == 0">Vartotojo tokiu vardu ar pavarde nėra.</span>
        <table v-if="users.length" class="text-left w-full border-collapse">
            <thead>
            <tr>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Vartotojas</th>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light hidden sm:hidden md:hidden lg:table-cell">El. Paštas</th>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light hidden sm:hidden md:table-cell lg:table-cell">Role</th>
                <th class="py-4 px-6 font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Veiksmai</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" v-bind:key="user.id">
                <td class="py-4 px-6 border-b border-grey-light">{{user.name + ' ' + user.surname}}</td>
                <td class="py-4 px-6 border-b border-grey-light hidden sm:hidden md:hidden lg:table-cell">{{user.email}}</td>
                <td class="py-4 px-6 border-b border-grey-light hidden sm:hidden md:table-cell lg:table-cell">{{user.roles[0].name}}</td>
                <td class="py-4 px-6 border-b border-grey-light">
                    <!--<a v-bind:href="'/admin/user/view/'+ user.id" class="text-grey-lighter font-bold py-1 px-3 rounded text-xs bg-green hover:bg-green-dark">Peržiūrėti</a>-->
                    <a v-bind:href="'/admin/user/edit/'+ user.id" class="text-grey-lighter font-bold py-1 px-3 rounded text-md bg-blue hover:bg-blue-dark"><i class="fas fa-edit"></i></a>
                    <a href="#" @click="deleteUser(user.id)" class="text-red-500 font-bold py-1 px-3 rounded text-md bg-blue hover:bg-blue-dark"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination
                v-if="total > 5"
                :meta_data="meta_data"
                v-on:next="fetchUserList">
        </pagination>
    </div>
</template>

<script>
import _ from 'lodash';
import Pagination from '../../partials/Pagination';

export default {
	components: {
		Pagination
	},

	name: 'AdminUserList',
	props: ['routeAll', 'routeSearch'],

	data() {
		return {
			users: [],
			keyword: '',
			meta_data: {
				last_page: null,
				current_page: 1,
				prev_page_url: null
			},
			total: ''
		};
	},

	methods: {
		deleteUser(user) {
			if(confirm('Ar tikrai norite ištrinti?')) {
				axios.delete('/admin/user/delete/' + user)
					.then(() => {
						this.fetchUserList();
					});
			}
		},

		fetchUserList(page = 1) {
			axios.get(this.routeAll, {
				params: {
					page
				},
			})
				.then((response) => {
					this.users = response.data.data;
					this.meta_data.last_page = response.data.last_page;
					this.meta_data.current_page = response.data.current_page;
					this.meta_data.prev_page_url = response.data.prev_page_url;
					this.total = response.data.total;
				});
		},

		searchUser: _.debounce(function() {
			this.$nextTick(() => {
				if (this.keyword.length > 0) {
					axios.get(this.routeSearch, {
						params: {
							keyword: this.keyword,
						}
					})
						.then((response) => {
							this.users = response.data;
						});
				}
				else {
					this.fetchUserList();
				}
			});
		}, 700),

		clearInput() {
			this.keyword = '';
			this.fetchUserList();
		}
	},

	created() {
		this.fetchUserList();
	},
};
</script>
