<template>
    <div class="lg:flex">
        <div class="w-full lg:w-1/3">
            <h1 class="text-xl">Redaguojama: <span class="font-semibold">{{userName + ' ' + userSurname}}</span></h1>
            <h1 class="text-lg font-semibold">Vartotojo informacija</h1>
            <form class="rounded pt-6 mb-4" autocomplete="off" v-on:submit.prevent="updateUser">
                <div class="mb-4">
                    <label class="acp-label">
                        Vardas
                    </label>
                    <input class="acp-input w-full" type="text" v-model="user.name">
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Pavardė
                    </label>
                    <input class="acp-input w-full" type="text" v-model="user.surname">
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Rolė
                    </label>
                    <model-select :options="roles"
                                  v-model="role"
                                  :placeholder="roleName">
                    </model-select>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Mokymosi įstaiga
                    </label>
                    <model-select :options="options2"
                                  v-model="item2"
                                  :placeholder="setName()">
                    </model-select>
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        Telefono numeris
                    </label>
                    <input class="acp-input w-full" type="number" v-model="user.phone">
                </div>
                <div class="mb-4">
                    <label class="acp-label">
                        El. paštas
                    </label>
                    <input class="acp-input w-full" type="text" v-model="user.email">
                </div>
                <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="submit">Atnaujinti</button>
            </form>
        </div>
        <div class="w-full lg:w-2/3 lg:ml-6">
            <h1 class="text-lg font-semibold" :class="total < 4 ? 'pb-6' : ''">Kambarių rezervacijos / <span class="text-gray-800 font-bold">{{total}}</span></h1>
            <pagination
                    class="pb-6"
                    v-if="total > 3"
                    :meta_data="meta_data"
                    v-on:next="fetchRoomRequests">
            </pagination>
            <!-- <div v-for="roomRequest in roomRequests">
                <div class="room-container mb-2 border-gray-300 border-2">
                    <div class="p-2 flex">
                        <div class="overlay w-56 h-48 relative" :style="{ 'background-image': 'url(' + defaultImg + ')' }" style="background-size: cover;">
                            <h1 class="absolute pt-16 text-white text-xxl font-semibold text-center">{{roomRequest.room_number}}</h1>
                        </div>
                        <div class="room-info pl-6">
                            <h1><span class="font-semibold">Kambarys:</span> {{roomRequest.room_number}}</h1>
                            <h1><span class="font-semibold">Bendrabutis:</span> {{roomRequest.dorm_name}}, {{roomRequest.address}}</h1>
                            <h1><span class="font-semibold">Mokymo įstaiga:</span> {{roomRequest.uni_name}}</h1>
                            <div class="flex">
                                <form @submit.prevent="confirmRoomRequest(roomRequest.user_id, roomRequest.id)">
                                    <button class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 border border-green-200 rounded shadow" type="submit">Patvirtinti</button>
                                </form>
                                <form @submit.prevent="deleteRoomRequest(roomRequest.user_id, roomRequest.id)">
                                    <button class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 border border-red-200 rounded shadow" type="submit">Pašalinti</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</template>

<script>
import { ModelSelect } from 'vue-search-select';
import Pagination from '../../partials/Pagination';

export default {
	components: {
		'model-select': ModelSelect,
		'pagination': Pagination
	},

	props: {
		routeUserGet: String,
		routeUniversityAll: String,
		routeUserUpdate: String,
		userId: Number,
		universityName: String
	},

	data() {
		return {
			total: '',
			userName: '',
			userSurname: '',
			user: [],
			roomRequests: [],
			options2: [],
			item2: '',
			roles: [],
			role: '',
			roleName: '',
			defaultImg: '',

			meta_data: {
				last_page: null,
				current_page: 1,
				prev_page_url: null
			}
		};
	},

	methods: {
		// confirmRoomRequest(user_id, room_id) {
		// 	axios.post('/admin/oc-room/add', {
		// 		user: user_id,
		// 		room: room_id
		// 	})
		// 		.then((response) => {
		// 			alert(response.data.message);
		// 		});
		// },

		// deleteRoomRequest(user_id, room_id) {
		// 	if(confirm('Ar tikrai norite pašalinti?')) {
		// 		axios.delete('/admin/room-requests/delete/' + user_id + '/' + room_id)
		// 			.then(() => {
		// 				this.fetchRoomRequests();
		// 			});
		// 	}
		// },

		setName() {
			return this.universityName;
		},

		fetchRoles() {
			axios.get('/admin/role/all')
				.then((response) => {
					const _this = this;
					response.data.forEach(function(item) {
						_this.roles.push({ value: item.id, text: item.name });
						console.log(_this.user.role_id);
						if(_this.role === item.id) {
							_this.role = item.id;
							_this.roleName = item.name;
							console.log(_this.role);
						}
					});
				});
		},

		// fetchRoomRequests(page = 1) {
		// 	axios.get(this.routeRoomRequestGet, {
		// 		params: {
		// 			page
		// 		},
		// 	})
		// 		.then((response) => {
		// 			this.roomRequests = response.data.data;
		// 			this.meta_data.last_page = response.data.last_page;
		// 			this.meta_data.current_page = response.data.current_page;
		// 			this.meta_data.prev_page_url = response.data.prev_page_url;
		// 			this.total = response.data.total;

		// 			let arrImg = JSON.parse(this.roomRequests[0].photos);
		// 			this.defaultImg = arrImg[0]['img'];
		// 		});
		// },

		fetchUniversities() {
			axios.get(this.routeUniversityAll)
				.then((response) => {
					const _this = this;
					response.data.forEach(function(item) {
						_this.options2.push({ value: item.id, text: item.name });
					});
				});
		},

		fetchUserData() {
			axios.get(this.routeUserGet)
				.then((response) => {
					this.user = response.data[0];
					this.item2 = this.user.university_id;
					this.userName = this.user.name;
					this.userSurname = this.user.surname;
					this.role = this.user.role_id;
				});
		},

		updateUser() {
			axios.put(this.routeUserUpdate, {
				name: this.user.name,
				surname: this.user.surname,
				phone: this.user.phone,
				email: this.user.email,
				university_id: this.item2,
				role: this.role
			})
				.then(() => {
					this.userName = this.user.name;
					this.userSurname = this.user.surname;
					alert('Vartotojo informacija atnaujinta.');
				});
		},
	},

	created() {
		this.fetchUserData();
		this.fetchUniversities();
		// this.fetchRoomRequests();
		this.fetchRoles();
	},
};
</script>
