$acp-color-dark: #303030;
$acp-color-darker: darken($acp-color-dark, 5%);
$acp-color-darkest: darken($acp-color-dark, 10%);

.active-item {
    background: $acp-color-darker;
}

.active-top-item {
    background: $acp-color-darkest;
}


.sidenav {
    color: white;
    background: $acp-color-dark;
}

.sidenav-top, .main-nav {
    background: $acp-color-darker;
}

.sidenav-mid a:hover {
    background: $acp-color-darker;
    transition: 0.2s;
}

.main-nav a:hover {
    background: $acp-color-darker;
    transition: 0.2s;
}

.top-bar-item li:hover {
    background: $acp-color-darkest;
    transition: 0.2s;
}

.text-xxl {
    font-size: 2rem;
}

.page-item {
    display: inline;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    border-radius: .25rem;
    margin: 0 4px;
}

.pagination a:hover {
    background-color: #39495c;
    color: white;
}

.pagination .active a {
    background-color: darken(#39495c, 15%);
    color: white;
}

.acp-input {
    color: #4a5568;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    line-height: 1.25;
    border-width: 1px;
    border-radius: 0.25rem;
}

.acp-input:focus {
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    outline: 0;
}

.acp-label {
    display: block;
    color: #4a5568;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
}

.overlay::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.overlay h1 {
    left: 50%;
    transform: translate(-50%, 0);
}

.r-row:hover {
    background: #e2e8f0;
    transition: 0.3s;
    cursor: pointer;
}
