body {
    background-color: #f5f5f5;
}
.mytable {
    text-align: left;
    border-collapse: collapse;
    overflow: auto;

    th {
        text-transform: uppercase;
        font-size: 0.875rem;
        padding: 1rem 1.5rem;
        font-weight: 700;
        border-bottom: 1px solid #e2e8f0;
    }

    td {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #e2e8f0;
    }

    a {

    }

    a:hover {

    }
}

.link {
    color: #2b6cb0;
}

.link:hover {
    color: #2b6cb0;
    transition: 0.2s;
}

.modal-body {
    overflow-x: auto;
}

.card-link:hover {
    background-color: #2b6cb0;
    color: #fff;
    transition: 0.2s;
}

.card-link.active {
    background-color: #2b6cb0;
    color: #fff;
}

.text-light-green {
    color: #42b883;
}

@-webkit-keyframes fade {
    0% { opacity: 0.01;}
    20% { opacity: 1;}
    80% { opacity: 1;}
    99% { opacity: 0.01;}
    100% { opacity: 0; display: none;}
}
@keyframes fade {
    0% { opacity: 0.01;}
    20% { opacity: 1;}
    80% { opacity: 1;}
    99% { opacity: 0.01;}
    100% { opacity: 0;}
}

.fade {
    -webkit-animation: fade 3s;
    animation: fade 3s;
}


