// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

// Variables
@import 'variables';

// Components
@import 'components';

// Tailwind
@import '~tailwindcss/dist/tailwind.css';

hr{
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

// Admin
@import 'admin/main';
