<template>
    <div class="flex justify-center">
        <form class="w-full max-w-2xl mx-auto">
            <p class="text-center text-2xl font-bold">Registracija su Google</p>
            <p class="text-center text-sm text-gray-600 mb-5">Jūsų el.paštas - <span
                    class="font-bold">{{user.email}}</span></p>

            <div class="bg-blue-100 border rounded border-blue-500 text-blue-700 px-8 py-3 mb-5" role="alert">
                <p class="font-bold">Dėmesio!</p>
                <p class="text-sm">Jūsų paskyra bus užregistruota nurodytu Google el. paštu. Po registracijos galėsite
                    prisijungti nieko nevedant į įvesties laukelius.</p>
            </div>

            <div class="bg-white rounded px-8 pt-3 pb-3">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full mt-4 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="password">
                            Slaptažodis
                        </label>
                        <input v-model="user.pass" v-bind:class="passwordError"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="password" type="password">
                        <ul v-if="errors.password" class="errors">
                            <li v-for="password in errors.password" v-bind:key="password"
                                class="text-red-400">{{password}}
                            </li>
                        </ul>
                    </div>
                    <div class="w-full mt-4 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="confirmed-password">
                            Patvirtinkite slaptažodį
                        </label>
                        <input v-model="user.confirmed_pass" v-bind:class="passwordError"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-3"
                               id="confirmed-password" type="password">
                        <p class="text-gray-600 text-xs italic">Mažiausiai 8 simboliai</p>
                    </div>
                </div>
                <hr>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
                            Vardas
                        </label>
                        <input v-model="user.name" v-bind:class="nameError"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="name" type="text">
                        <ul v-if="errors.name" class="errors">
                            <li v-for="name in errors.name" v-bind:key="name" class="text-red-400">
                                {{name}}
                            </li>
                        </ul>
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="surname">
                            Pavardė
                        </label>
                        <input v-model="user.surname" v-bind:class="surnameError"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="surname" type="text">
                        <ul v-if="errors.surname" class="errors">
                            <li v-for="surname in errors.surname" v-bind:key="surname" class="text-red-400">
                                {{surname}}
                            </li>
                        </ul>
                    </div>

                    <div class="w-full mb-6 px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                            Lytis
                        </label>
                        <div class="relative">
                            <select v-model="user.gender" v-bind:class="genderError"
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                <option :value="1">Vyras</option>
                                <option :value="2">Moteris</option>
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                                </svg>
                            </div>
                        </div>
                        <ul v-if="errors.gender" class="errors">
                            <li v-for="gender in errors.gender" v-bind:key="gender" class="text-red-400">
                                {{gender}}
                            </li>
                        </ul>
                    </div>

                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="tel">
                            Tel.nr
                        </label>
                        <input v-model="user.phone" v-bind:class="phoneError"
                               class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               id="tel" type="tel" placeholder="+370********">
                        <ul v-if="errors.phone" class="errors">
                            <li v-for="phone in errors.phone" v-bind:key="phone" class="text-red-400">
                                {{phone}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                            Mokymosi įstaiga
                        </label>
                        <div class="relative">
                            <select v-model="user.university_id" v-bind:class="universityIdError"
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                <option v-for="university in universities" v-bind:key="university.id"
                                        :value="university.id">{{university.name}}
                                </option>
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                                </svg>
                            </div>
                        </div>
                        <ul v-if="errors.university_id" class="errors">
                            <li v-for="university_id in errors.university_id" v-bind:key="university_id"
                                class="text-red-400">{{university_id}}
                            </li>
                        </ul>
                        <button v-on:click.prevent="submit()"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 mt-6 px-4 border border-blue-500 hover:border-blue-700 rounded w-full">
                            Registruotis
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>


</template>

<script>
    export default {
        data() {
            return {
                university: {},
                universities: [],
                user: {
                    email: '',
                    password: '',
                    password_confirmation: '',
                    name: '',
                    surname: '',
                    gender: '',
                    phone: '',
                    university_id: ''
                },
                errors: [],
            };
        },
        created() {
            if (this.$route.params.newUser) {
                this.user = this.$route.params.newUser;
            } else {
                this.$router.push({name:'index'});
            }
        },
        mounted() {
            this.list();
        },
        computed: {
            emailError: function () {
                return {
                    'border-red-500': this.errors.email
                };
            },
            passwordError: function () {
                return {
                    'border-red-500': this.errors.password
                };
            },
            nameError: function () {
                return {
                    'border-red-500': this.errors.name
                };
            },

            genderError: function () {
                return {
                    'border-red-500': this.errors.gender
                };
            },

            surnameError: function () {
                return {
                    'border-red-500': this.errors.surname
                };
            },
            phoneError: function () {
                return {
                    'border-red-500': this.errors.phone
                };
            },
            universityIdError: function () {
                return {
                    'border-red-500': this.errors.university_id
                };
            }
        },
        methods: {
            async list() {
                try {
                    const request = await axios.get('api/university/list');
                    this.universities = request.data;
                } catch (error) {
                    console.log(error);
                }
            },
            async submit() {
                try {
                    const request = await axios.post('/register', {
                        email: this.user.email,
                        password: this.user.pass,
                        password_confirmation: this.user.confirmed_pass,
                        name: this.user.name,
                        surname: this.user.surname,
                        phone: this.user.phone,
                        university_id: this.user.university_id,
                        email_verified_at: this.user.email_verified_at,
                        google_id: this.user.google_id,
                        gender: this.user.gender,
                    });
                    // console.log(request);
                    if (request.data.success === true) {
                        this.$swal({
                            title: "Galite prisijungti!",
                            type: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        this.errors = [];
                        this.$router.push({name: 'index'});
                    }
                } catch (error) {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                    console.log(error.response);
                }
            }

        }
    };
</script>