<template>
    <div>
        <div class="relative">
            <button @click="isOpen = !isOpen"
                    class="relative z-10 text-gray-100 text-base font-semibold border px-4 py-2 rounded-lg hover:text-blue-200 hover:border-blue-200">
                <slot></slot>
            </button>
            <div v-if="isOpen" class="absolute right-0 mt-2 py-2 w-64 bg-white rounded-lg shadow-xl arrow-top">
                <div v-if="!loggedIn" class="px-6 py-4">
                    <form>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                                El.paštas
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                v-model="user.email"
                                id="email" type="email">
                        </div>
                        <div class="mb-3">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                                Slaptažodis
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                                v-model="user.password"
                                id="password" type="password">
                            <a href="#" v-on:click.prevent="resetPasswordAlert()" class="float-right text-sm"
                               style="color:#0000FF">Slaptažodžio priminimas</a>
                        </div>

                        <br/>

                        <div v-if="message"
                             class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-3 rounded relative"
                             role="alert">
                            <span class="block sm:inline">{{message}}</span>
                        </div>

                        <div class="mb-6">
                            <button v-on:click.prevent="login()"
                                    class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 my-2 px-4 border border-blue-700 rounded w-full">
                                Prisijungti
                            </button>
                            <button v-on:click.prevent="AuthProvider('google')"
                                    class="bg-transparent text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-700 hover:bg-blue-700 rounded w-full">
                                Prisijungti su Google
                            </button>
                        </div>
                    </form>
                </div>
                <div v-else class="px-6 py-4">
                    <div v-if="this.$store.state.user.photo">
                        <img :src="`/images/users/${this.$store.state.user.photo}`"
                             class="object-cover h-24 shadow-lg rounded-full mx-auto"
                             width="100" height="100"/>
                    </div>
                    <div v-else>
                        <vue-initials-img class="object-cover h-24 shadow-lg rounded-full mx-auto" size="100"
                                          :name='fullName'></vue-initials-img>
                    </div>
                    <p class="text-black font-bold text-lg mb-2 mt-4 text-center">Sveiki, {{username}}!</p>
                    <div v-if="is_admin">
                        <a href="./panel">
                            <button
                                class="bg-transparent hover:bg-red-500 text-red-700 my-2 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded w-full">
                                Panel
                            </button>
                        </a>
                        <button @click="goToUserEdit()"
                                class="bg-transparent hover:bg-red-500 text-red-700 my-1 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded w-full">
                            Profilio nustatymai
                        </button>
                    </div>
                    <a v-else>
                        <button @click="goToUserPanel()"
                                class="bg-transparent hover:bg-blue-700 text-blue-900 my-2 font-semibold hover:text-white py-2 px-4 border border-teal-700 hover:border-transparent rounded w-full">
                            Vartotojo panelė
                        </button>
                        <button @click="goToUserEdit()"
                                class="bg-transparent hover:bg-blue-700 text-blue-900 my-1 font-semibold hover:text-white py-2 px-4 border border-teal-700 hover:border-transparent rounded w-full">
                            Profilio nustatymai
                        </button>
                    </a>
                    <button v-on:click.prevent="logout()"
                            class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 my-2 px-4 border border-blue-700 rounded w-full">
                        Atsijungti
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isOpen: false,
                message: '',
                user: {
                    email: '',
                    password: '',
                },
            };
        },
        created() {
            this.authCheck();
        },
        computed: {
            loggedIn() {
                return this.$store.state.auth;
            },

            username() {
                return this.$store.state.user.username;
            },

            is_admin() {
                return this.$store.state.user.is_admin;
            },

            fullName() {
                return this.$store.state.user.username + " " + this.$store.state.user.surname;
            },

        },
        methods: {
            AuthProvider(provider) {
                var self = this;
                this.$auth.authenticate(provider).then(response => {
                    self.SocialLogin(provider, response);
                }).catch(err => {
                    console.log({err: err});
                });
            },
            async SocialLogin(provider, google_token) {
                console.log(google_token);
                try {
                    const request = await axios.post('./sociallogin/' + provider, google_token);
                    if (request.data.type === 'partial') {
                        this.$router.push({name: 'googleRegister', params: {newUser: request.data.newUser}});
                        return;
                    }
                    this.validateUser();
                } catch (error) {
                    console.log(error);
                }
            },
            async resetPasswordAlert() {
                this.$swal({
                    title: 'Pamiršote slaptažodį?',
                    html: 'Įveskite savo el-paštą į laukelį esantį apačioje ir mes jums išsiųsimę nuorodą, kur galėsite pasikeisti slaptažodį!',
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    cancelButtonText: 'Atšaukti',
                    confirmButtonText: 'Siųsti laišką',
                    showLoaderOnConfirm: true,
                    preConfirm: (email) => {
                        return axios.post('./password/email', {
                            email: email
                        })
                            .then(response => {
                                if (response.status != 200) {
                                    throw new Error(response.statusText);
                                }
                                console.log(response);
                            })
                            .catch(error => {
                                if (error.response.status == 422) {
                                    this.$swal.showValidationMessage(
                                        'Klaida: Neteisingas el-paštas'
                                    );
                                }
                            });
                    },
                    allowOutsideClick: () => this.$swal.isLoading()
                }).then((result) => {
                    if (result.value) {
                        this.$swal({
                            type: 'success',
                            title: 'Viskas!',
                            html: 'Išsiuntėme laišką į jūsų el paštą, sekite instrukcijas, kad sėkmingai pasikeistumėte slaptažodį!'
                        });
                    }
                });
            },
            async login() {
                try {
                    await axios.post('./login', {
                        email: this.user.email,
                        password: this.user.password
                    });

                    this.user.email = '';
                    this.user.password = '';
                    this.message = '';
                    this.validateUser();
                } catch (error) {
                    this.message = '';
                    if (error.response.status === 422) {
                        this.message = error.response.data.message;
                    }
                    console.log(error);
                }
            },
            async logout() {
                try {
                    await axios.post('/logout')
                        .then(({data}) => {
                            axios.defaults.headers.common['X-CSRF-TOKEN'] = data;
                        });
                    this.$store.commit('logout');
                    if (this.$router.currentRoute.meta.requiresAuth) {
                        this.$router.push({name: 'index'});
                    }
                } catch (error) {
                    console.log(error);
                }
            },
            async authCheck() {
                try {
                    await axios.get('./authCheck');
                } catch (error) {
                    if (error.response.status === 401) {
                        this.$store.commit('logout');
                    }
                }
            },
            async validateUser() {

                try {
                    const request = await axios.get('./refreshToken');
                    const token = request.data.token;
                    window.axios.defaults.headers.common['Authorization'] = 'Bearer '.concat(token);
                    const request2 = await axios.get('./api/me');
                    this.$store.commit('auth', true);
                    this.$store.commit('token', token);
                    this.$store.commit('user', request2.data);
                    const roomRequest = await axios.get(`api/room-request/check/user/${request2.data.id}`);
                    const roomOccupationRequest = await axios.get(`api/room-occupation/check/user/${request2.data.id}`);
                    this.$store.commit('room_requested', roomRequest.data.roomRequested);
                    this.$store.commit('has_room', roomOccupationRequest.data.hasRoom);
                    if (request2.data.roles[0].id == 1 || request2.data.roles[0].id == 2) {
                        this.$store.commit('is_admin', true);
                        window.location.href = './panel';
                    }
                } catch (error) {
                    console.log(error);
                }
            },
            goToUserPanel() {
                this.$router.push({path: '/user'});
            },

            goToUserEdit() {
                this.$router.push({path: '/user-edit'});
            }
        }
    }
</script>

<style>

    .arrow-top {
        margin-top: 20px;
    }

    .arrow-top:after {
        content: " ";
        position: absolute;
        right: 7px;
        top: -15px;
        border-top: none;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid white;
    }
</style>
