<template>
    <div class="bg-blue-700 fixed w-full z-10">
        <register-modal v-if="showModal" @close="showModal = false">
            <template v-slot:body>
                <div>
                    <Register></Register>
                </div>
            </template>
        </register-modal>
        <div class="container mx-auto px-4">
            <div class="flex items-center justify-between py-4">
                <div class="text-white text-lg">
                    <router-link @click.native="navbarOpened = false" to="/">KVK bendrabučiai</router-link>
                </div>

                <div class="hidden md:flex md:items-center">
                    <!-- empty navbar content -->
                </div>

                <div class="hidden md:flex md:items-center">
                    <div v-if="currentPage === '/googleRegister'">
                        <a v-if="!loggedIn"
                           class="text-gray-100 text-base font-semibold border px-4 py-2 rounded-lg hover:text-blue-200 opacity-50 cursor-not-allowed hover:border-blue-200">
                            Registruotis
                        </a>
                    </div>

                    <div v-else>
                        <a v-if="!loggedIn" @click="showModal = !showModal"
                           class="text-gray-100 text-base font-semibold border px-4 py-2 rounded-lg hover:text-blue-200 cursor-pointer hover:border-blue-200">
                            Registruotis
                        </a>
                    </div>

                    <LoginDropdown class="ml-6">
                        <div v-if="loggedIn">
                            <i class="fas fa-user"></i>
                        </div>
                        <div v-else>
                            Prisijungti <i class="fas fa-caret-down ml-3"></i>
                        </div>
                    </LoginDropdown>
                </div>

                <div class="md:hidden flex items-center">
                    <LoginDropdown class="mr-6">
                        <i class="fas fa-user"></i>
                    </LoginDropdown>
                    <div class="text-gray-100 text-base font-semibold border px-4 py-2 rounded-lg hover:text-blue-200 hover:border-blue-200 cursor-pointer"
                         @click="navbarOpened = !navbarOpened">
                        <svg class="fill-current text-white h-6 w-6" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <title>
                                Menu</title>
                            <path v-if="navbarOpened" fill-rule="evenodd"
                                  d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"></path>
                            <path v-if="!navbarOpened" fill-rule="evenodd"
                                  d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>

                        </svg>
                    </div>
                </div>

            </div>

            <div v-if="navbarOpened" class="block md:hidden bg-blue-700 py-2">
                <div class="flex flex-col">
                    <!-- empty navbar content -->
                    <div class="flex flex-col pt-2">
                        <a v-if="!loggedIn" @click="showModal = !showModal"
                           class="text-gray-100 text-base font-semibold hover:text-blue-200 mb-3 cursor-pointer">
                            Registruotis
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import LoginDropdown from "./LoginDropdown";
    import Register from "../components/pages/auth/Register";
    import RegisterModal from "../components/RegisterModal";


    export default {
        data() {
            return {
                navbarOpened: false,
                showModal: false,
            };
        },
        components: {
            RegisterModal,
            LoginDropdown,
            Register,
        },

        computed: {

            loggedIn() {
                return this.$store.state.auth;
            },

            username() {
                return this.$store.state.user.username;
            },

            currentPage() {
                return this.$route.path;
            },
        }
    };
</script>
