<template>
    <div>
        <div class="flex flex-wrap mx-auto mt-5 -mx-2">
            <div v-for="dorm in this.$props.filteredDorms" v-bind:key="dorm.id"
                 class="sm:w-full md:w-1/2 lg:w-1/3 w-full rounded mb-8 px-2">
                <div>
                    <img class="object-cover shadow-md rounded-lg w-full h-56" :src='setImage(dorm.id)' alt="image">
                </div>
                <div class="relative md:px-4 lg:px-4 px-0 -mt-16">
                    <div class="bg-white px-6 py-4 rounded-lg border-l border-r border-b border-gray-200 shadow-lg">
                        <div class="font-bold text-lg mb-2">{{dorm.name}}</div>
                        <p class="text-gray-700 text-sm">
                            {{dorm.university_name}}
                        </p>
                        <p class="text-gray-700 text-sm">
                            <i style="color: #b3b3b3;" class="fas fa-map-marker-alt"></i> {{dorm.address}}
                        </p>
                        <p class="text-gray-700 text-sm">
                            Liko vietų: {{dorm.slots}}
                        </p>
                        <br/>
                        <button @click="checkDorm(dorm.id)"
                                class="bg-blue-700 hover:bg-blue-900 text-white font-semibold py-2 px-4 border border-blue-700 rounded">
                            Peržiūrėti
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['filteredDorms', 'photos'],
        name: "DormList",
        data() {
            return {}
        },
        methods: {
            setImage(dormId) {
                return this.$props.photos[dormId];
            },
            checkDorm(id) {
                this.$router.push({path: `dorm/${id}`})
            }
        }
    }
</script>
