<template>
    <div class="container mx-auto">
        <div class="flex flex-wrap shadow-lg rounded">
            <div class="sm:w-full md:w-full lg:w-1/2 w-full mx-auto bg-white">
                <div class="px-8 pt-6 pb-8 mb-5">
                    <p class="text-3xl font-bold text-left">Informacija</p>
                    <p class="text-base pr-5 mt-5">Studentams siūlome dviviečius ir triviečius kambarius, trijuose
                        (Gulbių g. 8,
                        Taikos pr.
                        16, Debreceno g. 25) Klaipėdos valstybinės kolegijos bendrabučiuose, kurie yra išsidėstę
                        įvairiose
                        Klaipėdos
                        miesto vietose. </p>

                    <p class="text-xl font-bold text-left mt-10">Mes siūlome:</p>
                    <ul class="list-disc pl-8 mt-5">
                        <li>patrauklias kambarių kainas</li>
                        <li>patogų susisiekimą visuomeniniu miesto transportu</li>
                        <li>savitarnos virtuves</li>
                        <li>nemokamą belaidį interneto ryšį (Gulbių g. 8)</li>
                    </ul>
                </div>
            </div>
            <br/>
            <div class="sm:w-full md:w-full lg:w-1/2 w-full mx-auto">
                <div class="App"  id="map" ref="map"></div>
            </div>
        </div>
        <div class="mt-10" v-if="filteredDorms.length > 0">
            <DormList v-bind:photos="this.photos" v-bind:filteredDorms="filteredDorms"></DormList>
        </div>

        <br/>
        <br/>
    </div>
</template>

<script>
    import gmapsInit from '../../../gmaps';
    import MarkerClusterer from '@google/markerclusterer';
    import MapFilters from "../../MapFilters";
    import DormList from "./DormList";

    let google;
    let geocoder;
    let map;
    let infoWindow;
    let markerClickHandler;
    let markerCluster;

    export default {
        name: 'LandingMap',
        components: {MapFilters, DormList},
        async mounted() {
            //  This function is used when a
            // user clicks a button inside markers info window
            const _this = this;
            window.checkDorm = function (id) {
                //Then access the method in 'this'
                _this.checkDorm(id);
            };
        },

        data() {
            return {
                dorms: [],
                photos: [],
                selectedUni: 0,
                selectedCity: 1,
                selectedCityCoordinates: {
                    lat: 55.703297,
                    lng: 21.144279
                },
                markers: [],
                search: '',
            }
        },

        methods: {
            filterByUni(value) {
                this.selectedUni = value;
                for (let i = 0; i < this.markers.length; i++) {
                    this.markers[i].setMap(null);
                }
                this.markers = [];
                markerCluster.clearMarkers();
                this.setMarkers()
            },

            async changeCity(coordinates, city) {
                this.selectedCityCoordinates = coordinates;
                this.selectedCity = city;
                this.selectedUni = 0;
                await this.createMap();
                await this.getDorms();
                await this.setMarkers();

            },

            checkDorm(id) {
                this.$router.push({path: `dorm/${id}`})
            },

            async getDorms() {
                try {
                    const request = await axios.get('/api/dorms');
                    this.dorms = request.data;
                    const _this = this;
                    this.dorms.forEach(function (item) {
                        _this.photos[item.id] = [];
                        try {
                            let jsonPhotos = JSON.parse(item.photos);
                            _this.photos[item.id] = jsonPhotos[0].path;
                        } catch (e) {
                            _this.photos[item.id] = '/images/rooms/default_room.png';
                        }
                    });
                } catch (e) {
                    console.log(e);
                }
            },

            setMarkers() {
                infoWindow = new google.maps.InfoWindow();
                markerClickHandler = (marker) => {
                    map.setZoom(15);
                    map.setCenter(marker.getPosition());
                    this.openMarker(marker);
                };
                this.markers = this.filteredDorms
                    .map((dorm) => {
                        const icon = {
                            url: '/images/marker.png', // url
                            scaledSize: new google.maps.Size(50, 50), // scaled size
                            origin: new google.maps.Point(0, 0), // origin
                            anchor: new google.maps.Point(0, 0) // anchor
                        };
                        const marker = new google.maps.Marker({
                            animation: google.maps.Animation.DROP,
                            map: map,
                            icon: icon,
                            position: {
                                lat: dorm.lat,
                                lng: dorm.long
                            },
                            title: dorm.name,
                            address: dorm.address,
                            university: dorm.university_name,
                            slots: dorm.slots,
                            image: dorm.photo,
                            dorm_id: dorm.id
                        });
                        if (this.filteredDorms.length === 1) {
                            map.setZoom(15);
                            map.setCenter(marker.getPosition());
                            marker.addListener('click', () => markerClickHandler(marker));
                            this.openMarker(marker);
                        } else {
                            map.setZoom(12);
                            map.setCenter(this.selectedCityCoordinates);
                            marker.addListener('click', () => markerClickHandler(marker));
                        }
                        return marker;
                    });

                markerCluster = new MarkerClusterer(map, this.markers, {
                    imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m',
                });
            },

            openMarker(marker) {
                infoWindow.setContent(`<div class="max-w-sm rounded overflow-hidden shadow-lg">
                          <div class="px-6 py-4">
                            <div class="font-bold text-base mb-2">${marker.title}</div>
                            <p class="text-gray-700 text-sm">
                                    Mokykla: ${marker.university} <br>
                                    Adresas: ${marker.address} <br>
                                    Liko vietų: ${marker.slots} <br>
                            </p>
                            <br/>
                            <button onclick="checkDorm(${marker.dorm_id})" class="hover:bg-blue-700 text-blue-900 font-semibold hover:text-white py-2 px-4 border border-blue-700 hover:border-transparent rounded">
                                Peržiūrėti bendrabutį
                            </button>
                          </div>
                        </div>`);
                infoWindow.open(map, marker);
            },

            async createMap() {
                try {
                    google = await gmapsInit();
                    geocoder = new google.maps.Geocoder();
                    map = new google.maps.Map(
                        this.$refs.map, {
                            zoom: 12,
                            streetViewControl: false,
                            center: this.selectedCityCoordinates
                        }
                    );
                    google.maps.event.trigger(map, 'resize');
                } catch (error) {
                    console.error(error);
                }
            },
        },

        async created() {
            await this.getDorms();
            await this.createMap();
            await this.setMarkers();
        },

        computed: {
            filteredDorms() {
                return this.dorms.filter((dorm) => {
                    if (this.selectedUni === '' || this.selectedUni === 0) {
                        return dorm.city_id === this.selectedCity ? dorm : null;
                    } else {
                        return (dorm.university_id === this.selectedUni) && (dorm.city_id === this.selectedCity) ? dorm : null;
                    }
                });
            },
        }
    };
</script>

<style>
    html,
    body {
        margin: 0;
        padding: 0;
    }

    .App {
        width: 100%;
        height: 500px
    }
</style>